[2017-06-19 12:51] nils-tekampe opened #2 "Test issue"
This is just a test issue. I just wanted to show the possibilities of the issues.
We can have headlines as follows
# Headline
And we can have lists in issues as follows
- list item 1
- list item 2

And the best thing: We can directly link to lines/paragraphs in our files as follows:
[This is a link to the file that this issue could be about](https://github.com/nils-tekampe/cPP-biometrics/blob/784d

[2017-06-23 11:26] BrJu opened #3 "Considered presentation attacks for PAD"
General comment:
We need to clarify in the future whether we include only artificial artefacts in presentation attacks (if we do so, then the other presentation attacks might be in a future optional part) or every kind of presentation attacks (like using another part of human body...)

[2017-06-23 11:32] BrJu opened #4 "O.BIO_VERIFICATION - exact match"
On the exact match paragraph - I suggest to move it to a (future) optional part (and we may decide later to delete it as it is today too much detailed compared to other security objectives)

[2017-06-23 11:38] BrJu opened #5 "O.BIO_VERIFICATION - improve wording"
From @yamadaAIST

"The TOE shall provide a biometric verification mechanism to ensure access to a portal with an adequate reliability.
The TOE shall meet relevant criteria for its security relevant error rates for biometric verification (e.g. False Accept Rate (FAR) and False Rejection Rate (FRR))."

A little redundant. Why not merge two sentences into:

"The TOE shall provide a biometric verifica

[2017-06-23 11:40] BrJu opened #6 "O.PAD - improve presentation"
From @yamadaAIST  : move 2nd para to application note

[2017-06-23 11:41] BrJu opened #7 "O.PAD_ENROL / O.PAD_VERIFICATION - typo"
From @yamadaAIST
change A.BIO, A.INT into TOE.BIO, TOE.INT

[2017-06-23 11:43] BrJu opened #8 "O.PAD_ENROL / O.PAD_VERIFICATION : Out of scope of TOE.BIO"
From @yamadaAIST : remove TOE.BIO

[2017-06-23 11:45] BrJu opened #9 "OSP.Audit: consistency with O.Audit"
From @yamadaAIST
The expressions in the listed items are very different form those in O.Audit:
- A use of the central functionality of the TOE and its result
- Every use of a management function
- All parameters modified by the management functions.

If there are correspondences, then it is unnecessary to change the expressions. Otherwise

[2017-06-23 11:47] BrJu opened #10 "O.Audit - application notes"
From @yamadaAIST
- 1st application note: add TOE.INT
- 2nd application note: change “Please note that the term “report” in O.Audit does only require the TOE to generate” into “Note that the term “report” in O.Audit only require the TOE to generate"

[2017-06-23 11:48] BrJu opened #11 "O.PAD_ERROR"
From @yamadaAIST
Is this objective necessary w.r.t. to the presence of O.PAD, O.PAD_ENROL, O.PAD_VERIFICATION?

[2017-06-23 11:50] BrJu opened #12 "O.Protection"
From @yamadaAIST
what is the role of the 2nd, 3rd and 4th para ?

[2017-06-23 11:54] BrJu opened #13 "CCN comment on section 11.3"
"include O.AuditHandling"

[2017-06-23 11:56] BrJu opened #14 "CCN comment on OSP.RESIDUAL"
"Audit ?" commented on the expression security relevant data

[2017-06-23 11:59] BrJu opened #15 "O.PAD_ENROLMENT for TOE.PAD?"
My original thought was: TOE.PAD should be removed.
@nils-tekampe indicated he knows some PAD systems where some kind of enrolment is needed.

Thus the suggestion is now:  this should be made optional for TOE.PAD.

[2017-06-23 12:10] BrJu opened #16 "A.Admin: different concept for mobile"
From @woodbe
The concept of an admin on a mobile device is generally (though not always) different from a more "comprehensive" system. There aren't admin users, but admin processes (such as MDM agents). These admins don't authenticate to the local device and aren't users in the traditional sense.  + In general in a mobile device the user is the administrator of the device. It is difficult to say (

[2017-06-23 12:11] BrJu opened #17 "Mobile environment"
From @woodbe
-	A.Environment: This is contrary to the use case of a mobile device. The device will not be in a controlled environment under any sort of physical security
-	OE.Environment: This specifically contradicts the mobile use case.

[2017-06-23 12:13] BrJu opened #18 "on OE.Admin for mobile admins"
From @woodbe
-	Administrators do not have full control over a mobile device in the same way as say Windows (or Linux) or a locally installed system. It is done via privileges and proxy to a remote server. This can work, but is not likely to be the expected configuration here (as currently stated).
-	last sentence of description: deployment of devices is generally (though not always) remote and the

[2017-06-23 12:14] BrJu opened #19 "on OE.AdminAuth for mobile admins"
From @woodbe
Since admins do not generally have accounts on the mobile device, there is not a way to meet this requirement.

[2017-06-23 12:15] BrJu opened #20 "T.PA_verification"
From @woodbe
This seems difficult to conceive of for a mobile use case. To enroll you have to already have possession of the device and the backup credential, and if you already have that, what is the point of enrolling a different biometric?

[2017-06-23 12:16] BrJu opened #21 "T.General"
From @woodbe
I haven't seen any laid out definition of the attack potential for this, so having it here seems to point to nothing at the moment. Given that a mobile device may be taken away and the attacker have unlimited access to do anything they want this would seem tough to square easily.

[2017-06-23 12:17] BrJu opened #22 "T.Roles"
From @woodbe
Generally mobile devices only have a single user, and of they support multiple users they all tend to have the same level of privileges (i.e. no separate roles). Administration is generally handled by privileged system services acting in proxy for MDM

[2017-06-23 12:17] BrJu opened #23 "OSP.TrialLimit"
From @woodbe
Is this really a function of the biometric system? For a mobile device this is generally handled through the MDFPP eval where authentication limits must be defined for all mechanisms. Can this be satisfied by the TOE Platform instead of the TOE?

[2017-06-23 12:18] BrJu opened #24 "O.PAD_Enrol"
From @woodbe
This seems like it would not be applicable to the mobile device use case since it would assume the person is in control during enrolment (and then why do you care since you have full access at that point)

[2017-06-23 12:18] BrJu opened #25 "O.PAD"
From @woodbe
PAD on mobile is still minimal and this is likely to create problems if it will be required to be met. This seems to require PAD in any device

[2017-06-23 12:19] BrJu opened #26 "OE.Roles"
From @woodbe
Mobile devices tend to not have roles, and may not even support multiple users making this difficult to meet, even by relying on the environment.

[2017-06-23 12:25] BrJu opened #27 "Considerations on T.PA_Enrolment"
From @yamadaAIST

The current [T.PA_Enrolment](https://github.com/nils-tekampe/cPP-biometrics/blob/c1c449a117e0d7c4483b4aa0c2d266da9be65ee7/input/biometricCPP.xml#L226) is as follows:

An attacker may attempt to get impersonated as another user during enrolment. In order to perform the attack, the attacker uses artificial biometric characteristics, carrying the biometric characteristic of the atta

[2017-06-29 14:14] nils-tekampe opened #28 "Test issue on A.Admin"
Hello,
Just a change
let's do a test
[A.Admin](https://github.com/nils-tekampe/cPP-biometrics/blob/c1c449a117e0d7c4483b4aa0c2d266da9be65ee7/input/biometricCPP.xml#L307)

[2017-06-29 14:16] #28 closed, assigned to nobody

[2017-07-01 21:18] #6 closed, assigned to nobody

[2017-07-02 07:09] #10 closed, assigned to nobody

[2017-07-02 07:16] #5 closed, assigned to nobody

[2017-07-10 16:17] #7 closed, assigned to nobody

[2017-07-12 07:30] BrJu opened #29 "Low quality enrolment"
Following the discussion on issue #27, we should create a separate threat on low quality  as it could also have an impact on accuracy of biometric recognition.

[2017-07-13 16:39] BrJu opened #30 "Comments on Mobile Device Biometric System Use Case document"
Those comments relate to [this doc](https://github.com/nils-tekampe/cPP-biometrics/blob/master/input/MobileUseCase.md#mobile-device-biometric-system-use-case) from @woodbe and @n-kai.

[Background](https://github.com/nils-tekampe/cPP-biometrics/blob/master/input/MobileUseCase.md#background) :
- a biometric system may be capable of only part of the list.
- to the last paragraph, I would add: It is

[2017-07-25 00:59] n-kai opened #31 "Comment on T.Casual_Attack"
(Original text in the integrated cPP)
An attacker may attempt to _impersonated_ as a legitimate user without being enrolled in the system themselves. In order to perform the attack, the attacker only uses their own biometric characteristic (in form of a zero-effort-attack)

(Proposed text for use case 2 mobile biometrics cPP)
An attacker may attempt to impersonate as a legitimate user without bein

[2017-07-25 01:02] n-kai opened #32 "Comment on T.PA_Enrolment"
T.PA_Enrolment
(Original text in the integrated cPP)
An attacker may attempt to get impersonated as another user during enrolment. In order to perform the attack, the attacker uses artificial biometric characteristics, carrying the biometric characteristic of the attacked user (as so called Presentation Attack)

(Proposed text for use case 2 mobile biometrics cPP)
This threat isn’t necessary for m

[2017-07-25 01:05] n-kai opened #33 "Comment on T.PA_Verification"
T.PA_Verification
(This threat is missing in the integrated cPP but should be there)
An attacker may attempt to get impersonated (during verification process) as a legitimate user without being enrolled in the system themselves. In order to perform the attack, the attacker uses artificial biometric characteristics, carrying the biometric characteristic of the attacked user (as so called Presentati

[2017-07-25 01:07] n-kai opened #34 "Comment on T.General"
T.General
(Original text in the integrated cPP)
An attacker can carry out any kind of logical or physical attacks that do not exceed the attack potential and that are compliant with A.Environment as defined in the cPP in order to disguise his/her own identity during the enrolment or verification process or for the sake of impersonation. More specifically, an attacker may try to modify TSF data (e.

[2017-07-25 01:09] n-kai opened #35 "Comment on T.Residual"
T.Residual
(Original text in the integrated cPP)
An attacker may try to take advantage of unprotected residual security relevant data (e.g. biometric data and settings) during a user's session or from a previous, already authenticated user. In this way the attacker tries to get access to the security relevant settings of the TOE. This threat covers several scenarios including: - An attacker takes

[2017-07-25 01:24] n-kai opened #36 "Comment on A.Comm"
This assumption isn’t necessary for mobile bio cPP

Rationale
Attacker can try any attack within his/her attack potential. Attack to the communication (e.g. communication between matching algorism and capture device) should also be considered under T.General. However such physical attacks may be considered during the mobile device evaluations such as ones with MDFPP if possible.

[2017-07-25 01:25] n-kai opened #37 "Comment on A.Fallback"
A.Fallback
(Original text in the integrated cPP)
It is assumed that a fall-back mechanism as a complement to the TOE is available that reaches at least the same level of security as the biometric verification system does. This fall-back system is used in cases where an authorized user is rejected by the biometric verification system (False Rejection).

(Proposed text for this cPP)
It is assumed th

[2017-07-25 01:27] n-kai opened #38 "Comment on OSP.ENROL"
OSP.ENROL
(Original text in the integrated cPP)
The TOE shall implement the functionality to enrol users. The TOE shall ensure that enrolment records are of sufficient quality in order to meet the requirements on recognition performance. Start of Enrolment shall only be possible after authorization of an authorized administrator.

(Proposed text for this cPP)
The TOE shall enrol users for biometri

[2017-07-25 01:28] n-kai opened #39 "Comment on OSP.Verifcation_Error"
(Original text in the integrated cPP)
The TOE shall meet relevant criteria for its security relevant error rates for biometric verification (e.g. False Accept Rate (FAR) and False Rejection Rate (FRR)).

(Proposed text for this cPP)
The TOE shall meet relevant criteria for its security relevant error rates for biometric verification

Rationale
(e.g. False Accept Rate (FAR) and False Rejection Rate

[2017-07-25 01:32] #34 closed, assigned to nobody

[2017-07-25 06:57] nils-tekampe opened #40 "Scope of a use case"
In mobile use case #1 in [use case](https://github.com/nils-tekampe/cPP-biometrics/blob/master/input/MobileUseCase.md) it says:

_Testing is largely expected to be done by the vendor for the FAR/FRR and presentation attack. This could be handled internally or by a third party, with appropriate documentation of the testing environment. The level of documentation and testing would be similar to the

[2017-08-08 06:44] n-kai opened #41 "How to handle the issues in Github"
Procedure to handle technical issues

This document describes a procedure to handle issues in the draft cPP document.

1.	Open new issues
You (all iTC members) can open a new issues in the GitHub if you find anything that you want to discuss.
You can open a new issue clicking the Green button (“New issue”) at the top right corner of https://github.com/nils-tekampe/cPP-biometrics/issues

You also h

[2017-08-24 13:45] #40 closed, assigned to nobody

[2017-08-24 14:48] #32 closed, assigned to nobody

[2017-08-26 15:23] #31 closed, assigned to nils-tekampe

[2017-08-26 15:37] nils-tekampe opened #42 "General proceeding on the mobile use case"
Dear all,
I'm trying to catch up with the development that I missed. I hope that you can help me out with some questions that I'm not sure to understand completely:
1) Which is the latest use case document? There are [this one ](https://github.com/nils-tekampe/cPP-biometrics/blob/master/input/MobileUseCase.m) and [this other one](https://github.com/nils-tekampe/cPP-biometrics/blob/master/input/Mob

[2017-09-16 03:49] yamadaAIST opened #43 "Comments on O.AUDIT"
1. Is it not possible to have the same security objective on audit as in classical use case?
If it is not appropriate to be the same, then add "or report" after "record"  so as to be applicable to the TOE which does not have a functionality to record audit logs for itself but only to report information to the application for the audit logging.

2. Add application notes to FAU_GEN.1.1 and FAU_GEN.1

[2017-10-05 13:45] #42 closed, assigned to nobody

[2017-10-05 13:47] #41 closed, assigned to BrJu

[2017-10-05 13:54] #39 closed, assigned to BrJu

[2017-10-12 14:41] #23 closed, assigned to nobody

[2017-10-12 14:44] #22 closed, assigned to nobody

[2017-10-12 15:04] #19 closed, assigned to nobody

[2017-10-19 13:49] #17 closed, assigned to nobody

[2017-10-19 13:54] #16 closed, assigned to nobody

[2017-10-19 14:17] #37 closed, assigned to n-kai

[2017-11-22 13:22] woodbe opened #44 "Enrollment seems too generic"
From @FGUERINGTO

Current use case definition ((a) Enrolment) seems too generic. In particular, it is unclear how identity of the user is checked prior to be associated with biometric feature. May be a setup use case can be defined. It is also unclear to demonstrate how such identity is structured and biometric template are associated to be unique. If same identity is associated to several templat

[2017-11-22 13:24] woodbe opened #45 "Enrollment computation is not as simple as written"
From @FGUERINGTO

In the TOE Overview

Computation of biometric features is    not so simple as written. Maybe additional details on operations may help    reader to understand acquisition process.

Suggested Change:

Feature should be split in key operations as: filtering, extraction, pre-processing, scaling, liveness check.

[2017-11-22 13:28] woodbe opened #46 "Is setup part of the use case or covered by TOE.Environment?"
From @FGUERINGTO

In the TOE Overview

It is not a use case (outside TOE)?
(Otherwise it is covered by Mobile OS= TOE environment)

Suggested Change

During the setup process the system captures the user identity (or pseudonym). A fallback authentication mean (PIN, Password, swipe pattern,…) is also captured.
A default threshold value for this decision should be configured by administrator role (a

[2017-11-22 13:31] woodbe opened #47 "Add Update biometric template"
From @FGUERINGTO

In TOE Overview (though this seems to be a claim)

Update of a user biometric templates (e.g. physiology changes) is not possible but a new binding with an existing identity and new biometric templates can be done. In such case, existing obsolete biometric templates need to be revoked.

[2017-11-22 13:33] woodbe opened #48 "Add Revocation of biometric template"
From @FGUERINGTO

In TOE Overview: (though this seems to be a claim)

Biometric templates and associated binding with existing identity can be suppressed by the authorized role (administrator / mobile user) after proper authentication. Such operation includes cleaning of sensitive data in volatile memory and NVM.

[2017-11-22 13:34] woodbe opened #49 "Add revocation of an identity"
From @FGUERINGTO

In TOE Overview:

Revocation of an identity can be done by the authorized role after proper authentication.

[2017-11-22 13:38] woodbe opened #50 "biometric verification includes requirements of user identity"
From @FGUERINGTO

In TOE Overview:

Current use case definition ((b) Biometric verification) includes requirements of user claim identity. It sounds not in line with current mobile usage where implicit identity (mobile owner) is used (Biometric Identification from PP0016). When several identities are stored, then it should be similar but using templates for any identities (Biometric Identification

[2017-11-22 13:40] woodbe opened #51 "Overview verification wording is confusing"
From @FGUERINGTO

In TOE Overview:

Wording is confusing ((b) Biometric verification) “determines whether users are accepted or rejected based on the similarity”. Only a unique user identity shall be selected for one operation. Obviously if operation is done several times, several identities can be selected but only one by one.

Suggested change:

Prior to launch verification, TOE checks that at l

[2017-11-22 13:42] woodbe opened #52 "Consider use of Fallback features"
From @FGUERINGTO

In TOE Overview:

Do you want to consider usage of Fallback features after multiple authentication (passed or rejected)?

Suggested Change:

(b) Biometric identification can be combined with fall back mechanisms after multiple usage (to avoid replay).

[2017-11-22 13:49] woodbe opened #53 "Is liveness detection part of verification"
From @FGUERINGTO

In TOE Overview:

A sentence should be added to clarify this point.

[2017-11-22 14:00] woodbe opened #54 "TOE design definition seems inaccurate"
From @FGUERINGTO

TOE Design

Current TOE design definition seems quite far from current implementation: ”The TOE is fully integrated into the mobile device without the need for additional software and hardware. The TOE is composed of multiple individual components (such as sensor and matching algorithm)…”. My current knowledge of mobile (from cPP DSC) is template can be exported and stored cipher

[2017-11-22 14:03] woodbe opened #55 "Third party software TOE description is confusing"
FROM @FGUERINGTO

In TOE Design:

“Note: The TOE could be a third party software “ is very confusing. A software by itself cannot be the TOE without the associated hardware.

Suggested Change:

TOE can be split in an additional software combined with existing biometric hardware and software component.

[2017-11-22 14:04] woodbe opened #56 "TOE design excludes remote components"
From @FGUERINGTO

In TOE Design:

Current TOE design definition seems excludes remote solution to stored templates or to compute any operation :“The TOE is fully integrated into the mobile device”

Confirm that remote solution is excluded form cPP scope.

[2017-11-22 14:05] #56 closed, assigned to FGUERINGTO

[2017-11-22 14:09] woodbe opened #57 "TOE Use Case description is confusing"
From @FGUERINGTO

In TOE Use Cases:

This paragraph is very confusing. Other use cases not covered by the PP should be explicitly excluded from PP scope.

Suggested Change:

Rename USE CASE 2 as example of use case not consider in cPP scope.

[2017-11-22 14:11] woodbe opened #58 "New Use Case for biometric verification on "unlocked" device"
From @FGUERINGTO

In TOE Use Cases:

USE CASE 1: Mobile device biometric verification on “unlocked” device” should be identified as a dedicated use case 3.

Suggested Change:

Create a new use case

[2017-11-22 14:13] woodbe opened #59 "Use Case 2 description is not appropriate"
from @FGUERINGTO

In TOE Use Cases:

USE CASE 2 “ …such as payment transactions …” is not appropriate. Using biometry to validate a transaction is not the same type of operation than authentication & authorization.

Suggested Change:

Suppress such use case from cPP scope.

[2017-11-22 14:17] woodbe opened #60 "MDFPP is missing reference"
From @FGUERINGTO

MDFPP needs to be added as a reference in the Related Documents section.

[2017-11-22 14:18] woodbe opened #61 "CC Part 3 conformant is misleading"
from @FGUERINGTO

In CC Confirmance:

Part 3 conformant is misleading.

Suggested Change:

should be replaced by Part 3 extended as dedicated methods are introduced to cover SFRs

[2017-11-22 14:29] woodbe opened #62 "Attacker profile/motivation"
From @FGUERINGTO

In Threats:

As defined in CC §1 A.6.2, “A threat consists of an adverse action   performed by a threat agent on an asset”.    Therefore prior to   define threat, it is useful to define attacker profile and motivation

Suggested Changes:

Local attacker [LA] is unauthorized user of mobile device. He try to access to mobile device and unlock it to access to mobile service using a

[2017-11-22 14:30] woodbe opened #63 "Define asset to protect"
From @FGUERINGTO

In Threats:

As defined in CC §1 A.6.2, “A threat consists of an adverse action performed by a threat agent on an asset”.
Therefore prior to define threat, it is useful to define assets to protect and associated security property (C,I,A,NR…)

Suggested Changes:

Main assets are :
Protected Mobile Service [PMS] Security property is Access Control [AC].

User identity (e.g. pseudon

[2017-11-22 14:32] woodbe opened #64 "O.BIO_Verification definition seems inconsistent with TOE function"
From @FGUERINGTO

In Security Objectives:

O.BIO_Verification
Current wording of objective seems not consistent with real TOE function: “The TOE shall provide a biometric verification mechanism to control access to the protected services with an adequate reliability.”

Positive verification only sets security attributes as “Authenticated” but management of access rules and access control features

[2017-11-22 14:33] woodbe opened #65 "O.Presentation_Attack_Detection seems too strong for claim"
From @FGUERINGTO

In Security Objectives:

O.Presentation_Attack_Detection
Current wording of objective seems too strong with real TOE function:
”The TOE shall prevent a presentation attack using Presentation Attack Instrument (PAI).

Suggested Changes:

The TOE shall prevent a presentation attack using Presentation Attack Instrument (PAI) relevant to attacker potential. It includes liveness detec

[2017-11-22 14:34] woodbe opened #66 "O.Enrol seems inconsistent for TOE function"
From @FGUERINGTO

In Security Objectives:

O.Enrol
Current wording of seems not consistent with real TOE function:
“The TOE shall implement the functionality to enrol users for biometric verification, only after successful authentication of a user.”

Suggested Changes:

O.Setup
TOE shall provide functions to setup user identity, authentication and fallback mechanisms and quality requirements for r

[2017-11-30 13:40] #25 closed, assigned to nobody

[2017-11-30 13:44] #20 closed, assigned to nobody

[2017-11-30 15:22] BrJu opened #67 "Independent Testing"
How to handle independent testing within a "short" time-boxed approach while still fitting without classical assurance requirements?

Two subtopics:
- performance testing
- PAD testing

[2017-11-30 15:30] BrJu opened #68 "conformance issue for cPP + MDFPP"
placeholder for future discussion on potential issue with exact conformance in future use cases.

[2017-11-30 16:38] #2 closed, assigned to nobody

[2017-11-30 16:40] BrJu opened #69 "Environment protection requirements from MDFPP"
cf #21, we decided to list the requirements we rely on from MDFPP to check whether we cover the threat (and then we would for instance list them in an assumption)

[2017-11-30 16:47] #18 closed, assigned to nobody

[2017-11-30 16:56] BrJu opened #70 "Others mobile use cases: Issues to be reviewed when we will be working on it"
Referencing here the issues closed for use case 1 that might be needed to review for other mobile use cases.

#18
#22
#37

PS: feel free to add your favorite ones

[2017-12-12 21:20] BrJu opened #71 "Missing links to current drafts"
@n-kai  or @nils-tekampe: could you please add some links to current draft of the cPP in the readme file: https://github.com/nils-tekampe/cPP-biometrics/blob/master/README.md#current-draft-of-cpp-for-use-case-1-and-supporting-documents

[2017-12-30 09:02] nils-tekampe opened #72 "Comment on Mobile toolbox for face verification"
From Francois:

Before to go in details, I would like to thank to Naruki for its very valuable work.
My contribution would like to refine description and vocabulary...

1) We have to agree that PAIs is only a subset of attack scenario, as other way to attack system exist.
2) attack scenario should be written in a way simplifying writing of automated test as required by cpp.
3) a clarification of v

[2018-01-04 10:00] #71 closed, assigned to nobody

[2018-01-04 10:06] #36 closed, assigned to yamadaAIST

[2018-01-04 10:14] #21 closed, assigned to nobody

[2018-01-04 10:36] #27 closed, assigned to yamadaAIST

[2018-01-04 10:43] #24 closed, assigned to nobody

[2018-02-01 13:06] #44 closed, assigned to FGUERINGTO

[2018-02-01 13:17] #51 closed, assigned to FGUERINGTO

[2018-02-01 13:55] #58 closed, assigned to FGUERINGTO

[2018-02-01 14:52] #48 closed, assigned to FGUERINGTO

[2018-02-15 00:48] #45 closed, assigned to FGUERINGTO

[2018-02-15 01:04] n-kai opened #74 "Preliminary draft of mobile toolbox for iris for review"
## Preliminary draft of Mobile toolbox for iris

This document is a preliminary draft of mobile toolbox for iris that lists presentation attack test items for mobile iris unlock. Each test item will be refined further to develop attack descriptions. Any comments on this document would be welcomed.

### Introduction
Presentation attack to iris verification is classified into following categories [1

[2018-02-15 23:53] #57 closed, assigned to FGUERINGTO

[2018-02-15 23:56] #47 closed, assigned to FGUERINGTO

[2018-02-15 23:59] #11 closed, assigned to nobody

[2018-02-16 00:02] #53 closed, assigned to FGUERINGTO

[2018-02-16 00:03] #55 closed, assigned to FGUERINGTO

[2018-02-16 00:04] #60 closed, assigned to FGUERINGTO

[2018-03-14 22:53] BrJu opened #75 "remaining FIA_BVR_EXT in cPP to be corrected"
cf. https://github.com/nils-tekampe/cPP-biometrics/blob/master/input/Bio%20cPP.md#623-mobile-biometric-verification-fia_mbv_ext1

[2018-03-14 22:59] #64 closed, assigned to FGUERINGTO

[2018-03-14 23:04] #50 closed, assigned to FGUERINGTO

[2018-03-15 14:16] BrJu opened #76 "cPP Figure 1 has to be updated"
@FGUERINGTO commented the inconsistency with Annex A / section 2.4 for data storage
@stemotre will add further comments

[2018-03-15 14:33] #52 closed, assigned to FGUERINGTO

[2018-03-15 15:06] #69 closed, assigned to nobody

[2018-03-15 20:17] woodbe opened #78 "FDP_RIP.1 clarity"
https://github.com/nils-tekampe/cPP-biometrics/blob/master/input/Bio%20cPP.md#921-subset-residual-information-protection-fdp_rip1

The way the this reads right now between the requirement and the app notes I see 2 different points being made. The requirement talks about allocation and deallocation of resources, which generally is used for volatile memory, while app note 31 states the ST shall list

[2018-03-19 18:44] woodbe opened #79 "Architecture diagram"
https://github.com/nils-tekampe/cPP-biometrics/blob/master/input/architecture.png

I uploaded this diagram responding to the need for some sort of sample architecture referencing a mobile device. Since the mobile devices I know of today do not use external biometric components, I didn't draw that in, I expected everything would be done in a self-contained manner on the device. I didn't give a lot

[2018-03-20 07:37] #75 closed, assigned to n-kai

[2018-03-23 10:38] n-kai opened #80 "Preliminary draft of change proposal to MDFPP for review"
Preliminary draft of change proposal is uploaded at https://github.com/nils-tekampe/cPP-biometrics/blob/master/input/CP_MDFPP.md

Please review and comment on it.

[2018-03-28 11:20] n-kai opened #81 "Preliminary draft of supporting documents for the cPP"
Draft is incomplete and may not be mature enough but I uploaded the draft to give more clear picture of evaluation based on the cPP.

Please look at from "Evaluation Activities for SFRs". Text before that was copied from another cPP so you don't need to review them.

https://github.com/nils-tekampe/cPP-biometrics/blob/master/input/BS%20SD.md

Any comment would be welcomed

[2018-03-30 19:50] woodbe opened #82 "FIA_MBV_EXT.1 EA "error rates""
@n-kai

https://github.com/nils-tekampe/cPP-biometrics/blob/master/input/BS%20SD.md#passfail-criteria-2

In this section it states that the "error rates" measured by the developer should be lower than claimed. What isn't clear exactly is what is meant by "error rates". Is this explicitly FAR/FRR (FNMR/FMR)? I would expect that to be stated explicitly in this case, or to have something that says th

[2018-04-05 10:20] n-kai opened #85 "change request to the cPP"
I have the following change proposals to the latest cPP to sync it with the latest SD (https://github.com/nils-tekampe/cPP-biometrics/blob/NKAI-April-05/input/BS%20SD.md)

**CP1**
Replace
_FPT_BDP_EXT.1 Biometric data processing
FPT_BDP_EXT.1.1 The TSF shall process any plaintext biometric data used to generate templates and perform sample matching, except publicly accessible biometric data, withi

[2018-04-09 09:15] nils-tekampe opened #86 "Dumb question: What is an Evaluation Activity?"
I'm currently reviewing the first version of the SD that Naruki kindly prepared and I have a general question: What actually is an "Evaluation Activity"?
Specifically the following questions come up:
- Is an EA defining evaluation aspect in addition to the CEM work units or is it aiming to replace the CEM?
- Is there any definition what an EA must or must not contain?
- What happens of an EA and a

[2018-04-10 07:40] #86 closed, assigned to nobody

[2018-04-10 17:22] stemotre opened #92 "Optional SFRs mapping issue"
section 5.1, refers to FIA_EVR_EXT.3 but this SFR is not presented in section 9.
section 9, does not define FIA_EVR_EXT.3 as suggested by section 5.1, but rather specifies FIA_MBE_EXT.3, which is not referred in the rest of the document.

[2018-04-11 10:41] nils-tekampe opened #93 "EA for FIA_MBV_EXT.1, independent testing"
Current version of SD reads as follows for FIA_MBV_EXT.1:

_The evaluator shall solely rely on the supplementary information (developer’s performance test document) to achieve this objective following instruction defined in Assessment strategy._

I would suggest that the evaluator should make his/her own test in this context and not only rely on the results of the vendor.

[2018-04-11 10:42] nils-tekampe opened #94 "EA for FIA_MBV_EXT.1, statistical significance"
Current version of SD for FIA_MBV_EXT.1 reads:

_Therefore, risk of zero-effort impostor attempts is low and the developer may not follow the statistical method (e.g. Rule of 3 or Rule of 30) to measure the mobile biometric verification performance._

I disagree in this point. Even if the attack potential is limited, the test should consider basic statistic principles.

[2018-04-11 19:39] #38 closed, assigned to BrJu

[2018-04-12 04:41] stemotre opened #95 "Content of cPP - various points"
Here is a list of additional remarks:
a) 1.5, the definition of the term “Sample”  is not clearly explaining what it means by “the part of the TOE”
b) Figure 1, the PAD subsystem is restrictively exposed as acting before and outside the match.
c) Figure 1, there should be a loop for a match against each template enrolled on the device as the templates are stored outside of the comparison system.
d

[2018-04-12 06:41] #92 closed, assigned to n-kai

[2018-04-12 07:02] #54 closed, assigned to FGUERINGTO

[2018-04-12 14:16] #49 closed, assigned to FGUERINGTO, stemotre

[2018-04-12 14:25] #80 closed, assigned to woodbe, BrJu

[2018-04-12 14:56] #46 closed, assigned to FGUERINGTO

[2018-04-12 15:04] #65 closed, assigned to FGUERINGTO

[2018-04-12 15:21] FGUERINGTO opened #96 "usage of FIA_ATD.1/User attribute definition"
I suggest to add a SFR to handle the security attribute Verification outcome.
FIA_ATD.1/BD User attribute definition
FIA_ATD.1.1/BD The TSF shall maintain the following list of security attributes belonging to individual   users: [assignment: Verification outcome, decision threshold].

Application note : as defined on figure 1,
Verification outcome is reset at begin of verification operation and i

[2018-04-12 15:24] FGUERINGTO opened #97 "Proposal to update OE.Protection"
Current text of OE.Protection should be improved.
"The TOE environment shall ensure that the TOE and its biometric data is adequately protected."
here my proposal :
"The TOE environment shall ensure that the TOE is adequately protected during storage and execution and biometric data is adequately protected during handling and storage."

[2018-04-12 15:27] FGUERINGTO opened #98 "Proposal to update O.Protection"
text of O.Protection is misleading.
"The TOE shall protect biometric data except publicly accessible biometric data using security functions provided by the TOE environment."

My proposal is : "The TOE shall protect biometric data confidentiality (when required) and integrity during usage."

[2018-04-12 15:33] FGUERINGTO opened #99 "Proposal for update of O.BIO_Verification"
Current text of O.BIO_Verification should be improved.
"The TOE shall provide a mobile biometric verification mechanism to authenticate a user with an adequate reliability. The TOE shall meet the relevant criteria for its security relevant error rates for mobile biometric verification. "
My proposal:
The TOE shall provide a mobile biometric verification mechanism comparing with an adequate reliabi

[2018-04-12 15:37] FGUERINGTO opened #100 "Question about O.Enrol"
Text of O.Enrol contains some ambiguity.
The TOE shall implement the functionality to enroll a user for mobile biometric verification, only after successful authentication of the user. The TOE shall check the quality of enrolment templates in order to meet the relevant error rates for mobile biometric verification.

What is the result of the check when quality is good or wrong ?
Could we precise t

[2018-05-17 16:51] The-Fiona opened #106 "BS SD (EA for FPT_BDP_EXT.1)"
The statement "However, the evaluator shall examine that the TOE processes any plaintext biometric data except publicly accessible biometric data (e.g. face image) within the security boundary of the SEE." is causing me to ask a question:

How do we define what is publicly accessible biometric data ?
When I go out in public usually my face is available for all to see, but I also leave my fingerpri

[2018-05-17 19:10] #82 closed, assigned to n-kai

[2018-05-17 19:56] woodbe opened #107 "Linking requirements between PPs"
It was pointed out during the CCUF meeting that there is not a well defined way to link requirements between PPs in an enforceable way. This came up specifically related to the Hybrid requirements, with a comment that maybe this should be in the MDF (one of the edits there).

One possible answer (though I do not know the specifics as I have not looked into them) is making the cPP for use case 1 in

[2018-05-17 19:59] woodbe opened #108 "Consideration of how this could be linked to GPOS PP"
During the CCUF meeting it was raised that this cPP could also be applied (maybe) to GPOS evaluations.

I am marking this as something to investigate and report on here. I will do the initial review and post thoughts on this.

[2018-05-21 09:10] n-kai opened #109 "Request to review updated draft Evaluation Activity for the performance testing"
EA for the performance testing that is originally included in the Annex of draft cPP was updated to make it simple and fit to the mobile device use case. I hope to include this draft into the Supporting Document before opening it to the public.

https://github.com/nils-tekampe/cPP-biometrics/blob/master/input/EA_Peform.md

[2018-05-22 07:01] nils-tekampe opened #111 "General methodology document"
Dear all,
The long weekend in Germany has been a fantastic chance to get into all the question around our methodology documents. While I read thru the existing proposals, I had some "de ja vues“ as I obviously discussed some of the questions that came up before.

I currently see that we will be needing 4 dedicated test plans for the first cPP:
1. Requirements on the performance test for the develo

[2018-05-24 14:31] #61 closed, assigned to FGUERINGTO

[2018-05-24 14:40] #66 closed, assigned to FGUERINGTO

[2018-05-24 14:45] #78 closed, assigned to nobody

[2018-05-24 15:05] #95 closed, assigned to nobody

[2018-05-24 17:03] nils-tekampe opened #113 "Final cleanup before making the repo public"
Dear all,
I just updated our main README file so that every visitor of our repo will be informed in future.
Before making the repo public, I'd like to know/discuss what to do with the following documents:

- https://github.com/nils-tekampe/cPP-biometrics/blob/master/2_UseCaseDescrption/Usecase1cPP20171213
- https://github.com/nils-tekampe/cPP-biometrics/blob/master/3_ProtectionProfile/CP_MDFPP.md

[2018-05-29 06:45] nils-tekampe commented on #113
The repo has now been moved. As our org in github is not allowed to maintain private repos, the repo also went public.

[2018-05-29 06:45] #113 closed

[2018-05-30 15:10] woodbe commented on #79
I have uploaded my updated image files based on my original file and the changes from @BrJu. I have uploaded a PNG, PDF and the original Visio file to the images folder.

[2018-05-30 16:32] woodbe commented on #106
@n-kai

So generally when a sensor will be used for authentication (especially for MDF-targeted devices) the sensor will be incorporated into the boundary of (for lack of a better descriptive term) the Dedicated Security Components (DSC). So in the case of a Samsung device, the fingerprint sensor has a dedicated path to the TEE and cannot be accessed by the Rich OS. Generally all authentication me

[2018-05-30 18:40] nils-tekampe opened #115 "Policy for merging"
Hi all,
I just changed the setting for the master branch of our repository so that (as a standard user) no direct commits to master are possible (which is good practice).
This means that all changes have to come via dedicated branches and pull requests.
In this context, I thought that it would be useful to think about a kind of a policy for merging:
Here is my suggestion:

1. Simple changes can be

[2018-05-30 18:44] woodbe commented on #115
I would agree with that practice.

Brian

Brian Wood, CISSP | Device Security Certification Manager
Samsung Research America
M: +1-973-440-9125
E: be.wood@samsung.com<mailto:be.wood@samsung.com>

From: Nils Tekampe <notifications@github.com>
Sent: Wednesday, May 30, 2018 2:41 PM
To: biometricITC/cPP-biometrics <cPP-biometrics@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subje

[2018-05-31 20:56] BrJu commented on #79
Looks good for use case 1. To be reviewed on meeting 20180607

[2018-05-31 21:05] BrJu commented on #76
Note also that we updated Figure 1 + text explaining this is only an example.
This is for use cases 2+
Please reopen if further comments.

[2018-05-31 21:05] #76 closed

[2018-05-31 21:08] BrJu commented on #99
Current definition is here https://github.com/biometricITC/cPP-biometrics/blob/master/3_ProtectionProfile/Bio%20cPP.md#obio_verification

[2018-05-31 21:16] BrJu commented on #115
Fully agree with @nils-tekampe  -- this is closed to what be did implicitly until now but good to have it written. And I experiment this rule with a commit on Readme.md !

[2018-06-01 08:59] nils-tekampe commented on #99
I agree with @woodbe and would suggest to close this issue without any change to the document

[2018-06-01 17:42] woodbe commented on #108
I will close this one in favor of #117 since that has the actual proposed document tied to it.

[2018-06-05 12:42] BrJu commented on #62
Discussed with François:
Use case 1: ok to close
Use case 2+: to be considered

[2018-06-05 13:04] BrJu commented on #63
Discussed with François:
-Threshold/biometric parameters integrity still seem important.  Will be good to emphasize the need to protect it even if only one is fixed.
-Importance to discuss the other assets for use case 2+

[2018-06-05 13:04] BrJu commented on #98
Discussed with François:
Correlation with #97 to be clarified

[2018-06-05 13:07] BrJu commented on #97
Discussed with François:
Should we change biometric data into biometric template? (only biometric template [may go] goes outside the TOE)
We should clarify whether "with support from the TOE environment" is optional or mandatory?

To be reworked together with #98

[2018-06-05 13:08] BrJu commented on #99
Discussed with François: ok

[2018-06-05 14:11] woodbe commented on #63
I would agree this is important to protect, but I don't actually see how the TOE itself would provide this protection as it is defined now. I created #118 to try to handle this case.

@FGUERINGTO please review the PR and comment/approve

[2018-06-05 15:04] woodbe commented on #97
So in my thinking keeping this as "biometric data" means that the TOE needs to protect the samples and any interim steps to the creation of the template, not just the template, so I don't really like changing it to the template alone.

Also, I'm not really sure about what is meant by the template going outside the TOE. My expectation, for use case 1 on mobile (or even GPOS) is that the matching is

[2018-06-06 16:43] BrJu commented on #85
"My opinion is that anything that is taken by the TOE for the purpose of generating a biometric template or as a sample to match to a template is not really "public" data since it should only be available inside the TOE. As such, I would remove the "except publicaly accessible biometric data" from the original one as my suggested modification."

I support this removal. The TOE should not make any

[2018-06-06 16:52] BrJu commented on #97
The comment comes from the reading of both O.Protection and OE.protection in parallel.
One is saying that the TOE is responsible (okay, using environment, but does not disallow the TOE to use its own mechanism), the other that the environment is ensuring the security is adequate.   We apparently need to clarify the link and the intersection between TOE and environment responsibilities.
So why Fran

[2018-06-06 17:35] stemotre opened #119 "SEE definition inconsistency"
We believe that the current content of the cPP is reliant on the notion of a “Secure Execution Environment”, in an inconsistant manner.

The cPP currently establishes the following statements related to SEE:
- (Section 1.5) SEE is an OE separate from the main Mobile Device OS (isolated by separate security processor, by restricted Access Control, through special processor modes, or a combination)

[2018-06-06 17:41] stemotre commented on #79
As exposed in issue #119, the proposed architecture diagram shall discuss plaintext storage in SEE versus secure storage outside SEE (and cPP define “secure" and responsibility of TOE/TSF).
Actually, the SEE boundaries are not relevant to this cPP unless the SEE inherited requirements are clearly addressed and part of this cPP (either requirements or I believe environment objectives).
Attached are

[2018-06-06 17:43] stemotre commented on #79
As exposed in issue #119, the proposed architecture diagram shall discuss plaintext storage in SEE versus secure storage outside SEE (and cPP define “secure" and responsibility of TOE/TSF).
Actually, the SEE boundaries are not relevant to this cPP unless the SEE inherited requirements are clearly addressed and part of this cPP (either requirements or I believe environment objectives).
Attached are

[2018-06-06 20:44] BrJu commented on #119
To be linked also with the wording discussed in #85

[2018-06-07 06:35] n-kai commented on #119
@stemotre

- In the [MDFPP], there is no mention of SEE, so no clear SFR that support the claims made in this cPP

As you mentioned, current MDFPP doesn’t define the SEE. However, MDFPP implicitly assumes that the mobile device provides the SEE. For example, FCS_CKM_EXT.1.2 in MDFPP requires that “Each REK shall be hardware-isolated from Rich OS on the TSF in runtime”. This requirement can’t be sa

[2018-06-07 07:01] n-kai commented on #106
@The-Fiona @woodbe @BrJu
Thanks for your input. I agree with the proposal from @BrJu in #85 to remove "except publicaly accessible biometric data" from the requirement.

[2018-06-07 09:17] n-kai commented on #97
**O.Protection**
The TOE shall protect biometric data except publicly accessible biometric data using security functions provided by the TOE environment.
**OE.Protection**
The TOE environment shall ensure that the TOE and biometric data is adequately protected.

I agree with @FGUERINGTO . O.Protection and OE.Protection has some overlap. I propose to deal with #119 first to clarify the relationship

[2018-06-07 14:35] n-kai commented on #119
@stemotre @woodbe will make a pull request to update FPT_BDP_EXT.3 etc.

[2018-06-07 14:40] n-kai commented on #106
We agree to remove "publicaly accessible biometric data". Naruki will create a pull request for this change.

[2018-06-07 14:44] n-kai commented on #99
We agree to close this issue on 7th June. please close this issue

[2018-06-07 15:01] n-kai commented on #97
this issue will be fixed with pull request for #119 at the same time.

[2018-06-07 15:13] n-kai commented on #111
We disscussed above Nils proposal on 7th June and agreed with it but we need more detailed plan or proposed text so that we can discuss it further.

The following is another comment from Naruki
Assurance level of use case 1 is EAL1 that doesn't include ATE_FUN. So I am not sure if we need to include "3.Requirements on the PAD test for the developer" in our supporting document.

[2018-06-07 17:58] woodbe commented on #119
@stemotre

For FPT_BDP_EXT.2.1, for that point in the iOS security guide about transferring diagnostic data, would that need to be covered here? My concern is again that the TOE is probably not what is doing this transfer but it is the TOE environment (i.e. iOS is transferring diagnostic data that includes diagnostic information from the Secure Enclave), and so further protection of the data at th

[2018-06-07 18:35] woodbe commented on #79
How about this as the updated architecture (based on the call and changes).

![image](https://user-images.githubusercontent.com/19575297/41119118-f3499736-6a5f-11e8-81d2-0c7772ef8680.png)

[2018-06-08 00:58] n-kai commented on #119
@stemotre
You can specify the evaluated configuration in the ST which means that you can say that diagnostic mode is out of scope of the evaluation in the ST. Japan allows such evaluation (however you have to explain that only authorized user can turn on the diagnostic mode) and I believe that other CC certification bodies also allow this.

[2018-06-15 06:54] #99 closed

[2018-06-17 19:49] nils-tekampe commented on #100
Closing the Issue as the corresponding PR has just been merged.

[2018-06-17 19:49] #100 closed

[2018-06-17 19:51] nils-tekampe commented on #111
@n-kai This is a very good point. Indeed, if we are on EAL1, ATE_FUN will not be part of the assurance package. However, we often referred to the competence of the developer in our discussions. So, it may be worth considering to include an augmentation of ATE_FUN to the PP. What do you think?

[2018-06-19 14:10] BrJu commented on #85
cf. changed made in #118 for FPT_BDP_EXT.3.1.
(the use of "except publicaly accessible biometric data" should be checked elsewhere in the cPP)

[2018-06-21 14:24] BrJu commented on #63
Addressed by #118

[2018-06-21 14:24] #63 closed

[2018-06-21 14:30] BrJu commented on #119
@gregott will ask internally to NIAP to check diagnostic mode constraint wrt ST
(remaining of the issue is covered by #118  )

[2018-06-21 14:42] BrJu commented on #97
Addressed by #118

[2018-06-21 14:42] #97 closed

[2018-06-21 14:45] BrJu commented on #98
addressed by #118

[2018-06-21 14:45] #98 closed

[2018-06-21 14:48] BrJu commented on #85
Addressed by #118  -- and once merged we have to check that "except publicly ..." is not used anymore   [ @BrJu will create a PR if needed]

[2018-06-21 14:49] BrJu commented on #106
will be cover by #85
Please @The-Fiona confirm that you agree to close the issue

[2018-06-21 14:52] BrJu commented on #107
also related to #117  -- low priority

[2018-06-21 14:57] The-Fiona commented on #106
I agree :)

[2018-06-21 14:57] #106 closed

[2018-06-24 14:19] BrJu commented on #85
Closed as the last comment is now covered by #122

[2018-06-24 14:19] #85 closed

[2018-07-13 03:02] n-kai opened #126 "cPP review request"
I created the new branch (NK-finalchange) and added the ECD and made editorial changes to finalize the cPP.

My draft is saved at;
https://github.com/biometricITC/cPP-biometrics/blob/NK-finalchange/3_ProtectionProfile/Bio%20cPP.md

If you want to see the diff between the current version and my draft, please follow the instructions below;
1) click "Pull requests" above
2) click green box labeled "N

[2018-07-18 16:51] BrJu commented on #126
no need to keep this open -- please add your comments directly into the PR #127

[2018-07-18 16:51] #126 closed

[2018-07-18 17:08] #115 closed

[2018-07-18 17:10] BrJu commented on #79
Solved -- the PR has been merged

[2018-07-18 17:10] #79 closed

[2018-07-18 17:13] BrJu commented on #81
not really an open issue, so closing.
On-going drafts for methodology are available here

[2018-07-18 17:13] #81 closed

[2018-07-18 17:15] BrJu commented on #111
Issue to be discussed during tomorrow meeting!
@n-kai @nils-tekampe  Please acknowledge in case you have new elements

[2018-07-18 17:16] BrJu commented on #119
@gregott any update?

[2018-07-19 14:47] BrJu commented on #111
Framework doc
- formal requirements may be covered by 19989 / we should use it as most as possible
=> to all, tell us if cannot have access to a copy of 19989
- toolboxes needed on iTC side
- vulnerability assessment guidance needed also on iTC

We should work on the framework doc first while discussing with NIAP to check/endorse links between MDFPP and the cPP. Toolbox/details will come later.

@

[2018-07-19 18:14] woodbe opened #128 "A.Alternative include mention of enrolment?"
Should A.Alternative have a mention that it is also required for enrolment of a biometric and not just as a "fallback" method if the biometric fails?

The italics is a possible change (to the second sentence).

A similar edit can be made to OE.Alternative as well.

[2018-07-19 19:03] nils-tekampe commented on #128
I have never seen it this way. From my perspective: If you fail enrolment (whyever) and keep failing it, you will have to use the fallback every time you come to the biometric system because you know that you will be failing to use the biometric authentication.

But I can see your point and would support the change.

[2018-07-19 19:11] woodbe commented on #128
@nils-tekampe I agree with your perspective, but as I was actually reading through from start the end, I came across the earlier descriptions and when I got to this it occurred to me that may it should be noted that it is the same mechanism that is required for the initial enrolment as well.

I am not wedded to making this change, but I thought that it brought some clarity as well as tightened up

[2018-07-23 08:37] BrJu commented on #128
That's a useful clarification.

[2018-07-24 19:09] nils-tekampe opened #131 "EAL?"
Hi all,
I took the time to read once again thru our whole PP Today evening and have identified one issue for me. Maybe it's just too warm here here too get this clear but I'm trying bring it to the point:

Our PP has no EAL. However, I'm pretty sure to remember that we agreed during a call or a discussion in some issue that we would primarily stick to the default assurance components from part III

[2018-07-25 02:19] n-kai commented on #131
@nils-tekampe
I am not sure if my comment is right answer to your question but MDFPP and other published cPP (See https://www.commoncriteriaportal.org/pps/?cpp=1) identify the following security assurance components.

ASE_CCL.1, ASE_ECD.1, ASE_INT.1, ASE_OBJ.1, ASE_REQ.1, ASE_SPD.1, ASE_TSS.1
ADV_FSP.1, AGD_OPE.1, AGD_PRE.1, ALC_CMC.1, ALC_CMS.1, ATE_IND.1, AVA_VAN.1

This is equivalent to the EAL

[2018-07-25 06:45] nils-tekampe commented on #131
@n-kai Thank you so much for your message. This is a relieve.
Yes, I think it would be a great idea, if we could call it EAL 1+.

The other aspect is that the descriptions say that some of the assurance classes can be omitted. e.g. it says:

I would suggest to slightly redraft these paragraphs as well. If we are targeting for EAL1, the documentation is required but it may be the same documentation

[2018-07-25 07:12] n-kai commented on #131
@nils-tekampe
No problem, it's OK for me.  Thank you for preparing the PR.

[2018-07-25 07:43] nils-tekampe commented on #131
@n-kai great to hear! Thanks!
I just created the PR.

[2018-08-01 14:14] BrJu commented on #128
Closing as addressed by #130

[2018-08-01 14:14] #128 closed

[2018-08-02 14:25] nils-tekampe commented on #131
Closed as PR #132 is about to be merged.

[2018-08-02 14:25] #131 closed

[2018-08-17 07:17] n-kai opened #135 "Draft SD progress"
I created the new branch (n-kai-SD_Patch_201808) and pull together the existing documents to update the SD.

My draft is saved at;
https://github.com/biometricITC/cPP-biometrics/blob/n-kai-SD_Patch_201808/4_Methodology/BS%20SD.md

This draft has not been completed yet and lots of things to do to finalize it.
So it's too early for the member to review this draft but if you have any major and seriou

[2018-08-23 13:37] gregott commented on #119
I have been out of the country for several weeks and am just now getting back to this.  I asked the question before I left but do not see a reply.  Let me ping NIAP again.

[2018-08-31 19:32] woodbe commented on #135
The following acronyms should be added to the table (there may be others, these were the ones I specifically came across):

FAR
FRR
FNMR
FMR
PAI
PAD
SEE
TSFI (TSF?)

Section 2.1.5 - "guidnace" instead of "guidance"
Section 5.3 - "applicalbe" instead of "applicable", "paticular" instead of "particular"
Section 5.5 - "ealuator" instead of "evaluator"

I don't see anything else off hand, but I will r

[2018-08-31 19:35] woodbe commented on #135
Is Appendix C going to stay in the SD directly or will it be placed into a separate document? I had thought that the procedures for PAD testing were going to be separate from the main SD so they could potentially be updated separately without requiring a revision to the SD itself.

I would actually recommend, if there is a way to do it, that this appendix point to a location where published/approv

[2018-09-03 06:09] n-kai commented on #135
@woodbe
I agree with your comment. I just included PAD testing in Appendix C because I think that it may be easier for members to review the whole document. I will move it into the separate document in the next version.
I will also add acronyms as you suggested to the next draft.

[2018-09-25 21:59] BrJu commented on #135
@n-kai @nils-tekampe  any new input (consensus?) since last meeting on reference to 19989-1?

[2018-09-26 10:06] n-kai commented on #135
@BrJu
I am waiting for proposal from Nils. In my understanding, Nils said that he proposed to identify specific parts of 19989-1 that should be refered in our SD at the last meeting.

My opinion is that 1) all evaluation activities that evaluator has to follow must be described in the SD and 2) 19989-1 doesn't describe mobile specific activities so we can't refer this doc in the evaluation activit

[2018-09-27 08:56] n-kai opened #137 "Meeting agenda at Amsterdam"
We have two sessions at Amsterdam (workshop schedule can be found at https://ccusersforum.onlyoffice.com/products/files/doceditor.aspx?fileid=5862361)

I want to clarify the meeting agenda for these two sessions in advance.

**16:30 - 17:30 Friday 26th**
I assume that we will invite the NIAP mobility TC to this session.  I would like to propose to disscuss following topics but I want to know opini

[2018-09-27 14:02] woodbe commented on #137
I know the MDFPP will get at least one update fairly soon to handle the Bluetooth PP-Module they are close to finishing, and there seemed to be willingness to make a few minor updates if that was needed depending on the timing of things, but I do not know what they will feel about things like the toolbox or CCRA review time.

[2018-09-27 14:34] BrJu commented on #137
Monday session
- toolboxes: structure & attack levels to be included in first version
- Next use case(s)

[2018-09-27 14:58] BrJu commented on #137
@n-kai  would like to share this https://github.com/biometricITC/cPP-biometrics/blob/master/3_ProtectionProfile/CP_MDFPP.md with NIAP in preparation of the meeting?

[2018-09-27 21:50] lewyble commented on #137
All,

I will be at CCUF and plan on attending the Biometric iTC sessions. I will have answers to the below question prepared for the meeting. If there are any additional questions that you would NIAP’s opinion on please send them to me prior to CCUF because while I can speak to the overall plan from NIAP’s perspective, I am just technical support for NIAP and cannot speak for NIAP. So I need to di

[2018-09-28 08:32] n-kai commented on #137
@lewyble
Thank you for your response and your offer.
I will review above items 1-5 again and may change them somehow (or add additonal items). I will finish this task by next Tuesday or Wednesday. Changes proposal to MDFPP will also be reviewed by Wednesday. So please give me a few days to check these document.

[2018-10-03 18:15] n-kai commented on #137
I have noting to change the question 1-5 but I add section 0 and made a few editorial changes to the change proposal. Latest proposal is available at https://github.com/biometricITC/cPP-biometrics/blob/NK-Nov-patch/3_ProtectionProfile/CP_MDFPP.md
(I am not sure what changes should be introduced to the MDFPP if we convert our cPP into the cPP module).

[2018-10-31 13:58] FGUERINGTO commented on #59
Issue is closed.

[2018-10-31 13:58] #59 closed

[2018-10-31 13:59] FGUERINGTO commented on #62
Use case 1: ok to close

[2018-10-31 13:59] #62 closed

[2018-11-07 11:02] woodbe opened #138 "GP Biometrics PP Review"
GlobalPlatform is writing a biometrics PP-Module related to their functionality. Comments are due on November 9 (so a short time here), but if anyone wants to see it, I am attaching it here.

Their question had been whether or not this had any potential conflict with our cPP, and I don't see any in my review as they are focused on how the content is protected as opposed to our focus on how the mat

[2018-11-12 17:50] #138 closed

[2018-11-21 20:03] woodbe opened #140 "Iris toolbox and curved PAI"
In the toolbox I created #139 I had some tests using a contact lens to add some level of curvature to the iris pattern. While I was looking at the FIDO documentation they do not list a contact lens but do make mention of using something like a doll's eye (or I guess you could try something like a ping pong ball), and placing the image over that surface.

The one successful attack (at least that ha

[2018-11-21 20:05] woodbe opened #141 "Iris vs Eye?"
Looking at the FIDO biometrics documentation they list it as "eye/iris, and thinking about it overall I didn't really run into anything that would prevent some holistic look at the eye as being used versus specifically the iris (though I can see some, like say a retinal image, needing very specialized equipment).

That said, would we want to keep this specifically titled as iris vs eye, or vs eye/

[2018-11-22 02:43] n-kai commented on #141
I am non-native English speaker so I don't see difference between "iris vs eye" or "eye/iris" ("iris vs eye" means the rentinal recognition is out of scope of the toolbox?)

Iris and retinal recognition are different in how they work however the same test (i.e. taking a picture of eye using NIR light and present it to the TOE) can be applied to both types of recognition so the scope of your toolbo

[2018-11-22 05:00] n-kai opened #142 "General overivew document for toolbox"
I think that a general overview should be created for the toolbox. The following is my draft that is created mainly from text I submitted to the members in the past. Please take a look at it and make comment.

---------
**Evaluator’s testing for PAD**
This document defines evaluation activities for PAD evaluation. PAD evaluation is mainly based on testing using PAIs and there are two types of eval

[2018-11-23 14:36] nils-tekampe commented on #141
I agree. At least for the first version of the toolbox I would aim at defining a toolbox for eye (including iris and retina). If we find out in the end that a further specialization is necessary, we can still split up.

--

[2018-11-26 14:21] woodbe opened #143 "Motivation description"
I don't have a good answer for this, but the motivation has long been a problem for me. Stating that we are only testing against friends playing around (but yet they are willing to spend money or use potentially expensive equipment to do so) I think is a little disingenuous. Not to mention I'm not sure how that really fits with the MDFPP, which doesn't protect necessarily against full-on nation-st

[2018-11-30 05:38] n-kai commented on #142
I am not sure that we have the common understanding of evaluation activities for AVA_VAN.1 because the toolboxes has not been disscussed or approved yet so I will finalize the cPP/SD with AVA_VAN.1 at the moment. We can disscuss AVA_VAN.1 again with final cPP/SD and toolboxes and if we can remove it if we can agree.

In Amsterdam we also discussed the format of the PP (i.e. cPP or cPP module). Acc

[2018-12-01 20:50] nils-tekampe commented on #142
I‘m sorry but I got lost for the first part. I thought that we decided in Amsterdam to remove AVA_VAN from the PP completely. So, why are we discussing the assurance activities for this? Does it maybe make sense to discuss this during our next call?

I can however agree with the second point: This is another good reason to keep the cPP as a separate PP.

Nils

[2018-12-17 18:44] woodbe commented on #96
I'm suggesting we close this.

I am not sure why we would need to store the outcome as a security attribute nor why we would want to maintain the outcome information beyond say an audit record. We have audit being listed for PAD (i.e. if a PAD is detected it should be noted) along with the outcome (pass/fail), but I'm not sure there is much value, in mobile devices, of a threshold value being note

[2018-12-17 18:45] woodbe commented on #107
Since it seems that v1 of our output will be a cPP (as opposed to a PP-Module), we could close this.

[2018-12-17 18:47] woodbe commented on #67
Suggest closing this. Performance is being discussed in #109 and PAD is being handled with individual toolboxes.

[2019-01-10 15:15] woodbe opened #146 "Conversion of cPP to AsciiDoc"
@nils-tekampe will to a conversion of the current cPP to AsciiDoc to provide more polish.

[2019-01-12 21:55] nils-tekampe commented on #146
BTW: One of the advantages of this data format is that it can be easily transformed into PDF. I'm attaching the current version as PDF.
[BiocPP05.pdf](https://github.com/biometricITC/cPP-biometrics/files/2752548/BiocPP05.pdf)

[2019-01-24 02:35] n-kai commented on #107
I changed my thought. Biometrics cPP should be the PP moulde for MDFPP (BasePP) because it requires that mobile device is evaluated against the MDFPP and the form of PP moudue is easier to express this requirement.

However, if the CCRA can't recognize the cPP module, we have to convert the module into cPP again. But the conversion doesn't take much time.

[2019-01-24 02:41] n-kai commented on #67
I agree to close this issue.

[2019-01-24 02:43] n-kai commented on #74
I agree to close this and #72 and dicuss based on actual toolbox.

[2019-01-24 02:46] n-kai commented on #96
I also agree to close this.

[2019-01-24 08:31] nils-tekampe commented on #67
I agree

[2019-01-24 15:58] woodbe commented on #107
Closed based on moving to a cPP Module

[2019-01-24 15:58] #107 closed

[2019-01-24 16:02] woodbe commented on #119
This will be closed at this time based on agreement that this should be acceptable (the diagnostic mode). May be raised again in the future.

[2019-01-24 16:02] #119 closed

[2019-01-24 16:02] woodbe commented on #67
Closed for #109

[2019-01-24 16:02] #67 closed

[2019-01-24 16:04] woodbe commented on #74
Closed. Further discussions handled in newer issues directly related to the appropriate toolbox.

[2019-01-24 16:04] #74 closed

[2019-01-24 16:05] woodbe commented on #72
Closed. Further discussions handled in newer issues directly related to the appropriate toolbox.

[2019-01-24 16:05] #72 closed

[2019-01-24 16:05] nils-tekampe commented on #96
i agree

[2019-01-24 16:06] woodbe commented on #96
Closed based on agreement.

[2019-01-24 16:06] #96 closed

[2019-01-24 20:03] nils-tekampe commented on #142
Please have a look at PR #148
This contains a first draft of the general introduction to the toolboxes. It is not yet complete but I thought it would be better to share it with all of you now.
Please let me know, what you think

[2019-02-13 17:41] woodbe commented on #8
I think we should close this

[2019-02-13 18:31] nils-tekampe commented on #8
Agreed

[2019-02-13 18:59] woodbe commented on #13
I think we should close this

[2019-02-13 19:10] nils-tekampe commented on #13
Good idea

[2019-02-13 19:15] woodbe commented on #14
While I know we had marked this a not mobile, I think we actually ended up handling this between O.Protection and the selection-based inclusion of FDP_RIP.2. I'm OK with leaving this, but I'm not sure if it is still a relevant concern based on where Use Case 1 ended up going.

[2019-02-13 19:16] woodbe commented on #15
This was linked to #27 which was closed. I think this should be closed as well.

[2019-02-13 20:31] woodbe commented on #68
I think we can close this and create a new issue if we determine there are additional considerations when Use Case 2 has actually been completed.

[2019-02-14 08:13] nils-tekampe commented on #68
agreed

[2019-02-14 08:14] nils-tekampe commented on #15
agreed

[2019-02-14 15:14] woodbe commented on #146
We will consider post-processing (through LaTex or similar) to polish things like keeping titles better (so they don't end up at the bottom of one page or have captions not with images).

[2019-02-14 15:30] woodbe commented on #8
Agreed to close in 2/14 meeting

[2019-02-14 15:30] #8 closed

[2019-02-14 15:31] woodbe commented on #13
Agreed to close in 2/14 meeting

[2019-02-14 15:31] #13 closed

[2019-02-14 15:35] woodbe commented on #15
Agreed to close in 2/14 meeting

[2019-02-14 15:35] #15 closed

[2019-02-14 15:36] woodbe commented on #68
Agreed to close in 2/14 meeting

[2019-02-14 15:36] #68 closed

[2019-02-15 16:37] nils-tekampe opened #150 "Requirements around the EAL of the PP"
I did some research to find out the real, hard requirements about the following two questions:

1) Can a cPP/PP have a dedicated assurance level or must it use an EAL
2) Can a PP module use a different EAL than the base PP.

I also contacted @n-kai and @The-Fiona and here is what we have:

# Can a cPP/PP have a dedicated assurance level

@n-kai kindly identified and sent the following requirements

[2019-02-15 17:45] The-Fiona commented on #150
Hi Nils, et al.

This one is *very* complicated. Here is my current understanding:

Since we choose the MDFPP as a base PP:

- MDFPP is not (yet) a cPP. So in terms of the CCRA Article 2.

"This Arrangement covers certificates with claims of compliance against
Common Criteria assurance components of either:

 1.

    1)  a collaborative Protection Profile (cPP), developed and
    maintained in acc

[2019-02-15 18:05] nils-tekampe commented on #150
Yes, seems to be complicated. But let me summarise one important aspect.
Assuming that we would write a PP instead of a PP module, there is no explicit requirement that would prohibit the use of an explicit assurance package, correct?

I also like to mention that for a PP (not a cPP though) there is already an exemple of this (I know the author pretty well :-))
https://www.commoncriteriaportal.org

[2019-02-15 18:19] Fiona commented on #150
Hi! You keep ending up in my inbox because you accidentally @'d me. While I
may be just Fiona, alas I am not THE Fiona ha ha.

On Fri, 15 Feb 2019, 18:05 Nils Tekampe <notifications@github.com wrote:

[2019-02-15 18:49] The-Fiona commented on #150
On 2019/02/15 12:05, Nils Tekampe wrote:

For a straight PP with Strict or Demonstrable conformance - No, I don't
see anything in CC 3.1R5 that would create a problem.

From the CCRA (K.1) some caveats...

"cPPs shall only include assurance components to a maximum of EAL2,
except where the International Technical Community can demonstrate a
rationale that activities up to and including EAL4 can be

[2019-02-15 19:10] nils-tekampe commented on #150
Yes, certificates after the German PP fall under the CCRA. See e.g.
https://www.bsi.bund.de/SharedDocs/Downloads/DE/BSI/Zertifizierung/Reporte/Reporte1000/1043a_pdf.pdf?__blob=publicationFile&v=3

[2019-02-15 19:27] The-Fiona commented on #150
I would love to see the ASE evaluation report!

- Fiona

On 2019/02/15 13:10, Nils Tekampe wrote:

--
Fiona Pattinson, CISSP
atsec information security corporation
Cell:+1 512 8253083 / Office:+1 512 6157382

[2019-02-21 09:12] nils-tekampe commented on #14
I thought about the whole history of this discussion again and I would basically agree to close the issue. We have FDP_RIP as an optional requirement in the cPP. I‘m still astonished that the MDFPP does not contain this requirement and that it is possible to be compliant to MDFPP without residual information protection but I guess this discussion is more for the MDFPP iTC to have.

[2019-02-25 20:45] woodbe commented on #150
So just as some thoughts from me following this.

1. We started as a cPP and moved to a cPP-Module mainly because it was thought (by NIAP via Lauren mostly but not exclusively) that the Module would be easier to pair with the MDFPP. As I think we noted at the time we made the change, it is a fairly simple thing to back out of.

2. Our PP (module or otherwise) should probably be a compatible with M

[2019-02-25 20:53] woodbe commented on #14
Closing based on current agreement.

[2019-02-25 20:53] #14 closed

[2019-02-27 10:20] n-kai commented on #150
The reason why I converted the cPP into cPP module is that PP module is much easier to deal with both MDFPP and GPOSPP because I can refer the bluetooth PP module that is appliable to both PPs. However, I assume that going back to a standalone cPP is not a difficult task because content of standalone cPP and PP-moulde is similar and I also plan to convert the cPP module to the cPP again if someone

[2019-03-01 20:18] woodbe commented on #141
When the toolbox files are moved, the new ones will all list "eye" instead of "iris" for the titles. Since the iris is still critical for the current types of detection (whether straight photo or the NIR), there are still instructions stating the iris must be visible, but except for the specific instructions, the titles and broad directions/descriptions are "eye".

[2019-03-08 19:29] woodbe commented on #141
Closed as files have been edited to cover eye in general and moved to the new repository.

[2019-03-08 19:29] #141 closed

[2019-04-10 06:01] woodbe commented on #150
I have a thought about this that probably isn't really ideal, but maybe is "acceptable" as far as outcomes after talking with Ken Elliott and a few others yesterday, so I want to put it here into the record.

As a PP-Module, we have to use whatever the Base-PP says, so we don't explicitly include (or exclude) anything. So the Base-PPs we are looking at today (which to me is the key point here), ar

[2019-04-10 06:55] n-kai commented on #150
I have a similar view of AVA_VAN.1 as the NIAP has.

AVA_VAN.1 asks evaluator to look for publicly available information to identify potential vulnerabilities (AVA_VAN.1-3) and devise penetration tests excluding those ones that require an attack potential beyond the Basic one (AVA_VAN.1-5). But scheme can specify additional information regarding any vulnerabilities and weaknesses to be considered

[2019-04-10 07:16] woodbe commented on #150
And if/when we finally get to a cPP for mobility, we can revisit the right way to handle AVA_VAN, which may have changed just due to technology updates.

[2019-04-12 17:11] nils-tekampe commented on #150
I’m sorry. It is late and maybe I am missing a point but I cannot follow your arguments. I’m the PP behind the link there is an application note for VAN. Is it this note that you are referring to?

[2019-04-18 13:39] woodbe commented on #150
Yes, and if you read the entirety of the AVA_VAN section, it basically says that penetration attacks are not expected to be performed due to a lack of standardized tools (for repeatability) for this type of attack. Reading the entire section ends up with the result of an evaluation being a survey of CVEs and other open information about the devices and then generally documenting how they are alrea

[2019-04-18 13:42] nils-tekampe commented on #150
I just have one word for this: "Unbelievable".

And just as a side note: If I don't like one of my competitors I will simply go and register a CVE for his product ;-)

[2019-04-18 13:45] nils-tekampe commented on #150
But when I summarize this it basically says:

1) We are using AVA_VAN
2) We have no idea, how we can do repeatable testing for VAN
3) We draw the conclusion not do to it at all and limit VAN to what we can currently do.

I am sure that you can guess that this is no basis for a further discussion from my sidee

[2019-04-18 13:54] nils-tekampe commented on #150
Oh, and another not:

Even if this is used in the MDF-PP this way, I would consider this be NOT COMPLIANT to CC part III in its current version. I understand that and itC has the authority to provide interpretations and guidance to what testing means in a certain case but what is done here, goes way beyond such an interpretation and is not covered by the criteria (or I don't know the corresponding

[2019-04-30 19:08] woodbe opened #159 "Thoughts about this graphic"
![image](https://user-images.githubusercontent.com/19575297/56986566-0ca65700-6b59-11e9-99d4-9b14fef93e28.png)

This is a general question, not a specific issue, but I am hoping to get your thoughts about the bottom graphic shown in the attached image. I am playing with a formatting tool that can take ASCII art drawings and convert them into graphic output. On the left is the AsciiDoc text that bo

[2019-04-30 19:47] nils-tekampe commented on #159
I really like it! 👍👍👍

[2019-05-01 17:50] woodbe opened #160 "cPP-Module or PP-Module?"
Fiona pointed out that we should title the documents from "collaborative Protection Profile Module" to "collaborative PP-Module". Now I think that changing that in the title is fine, but what about the rest of the document(s)?

There are many places where I see "cPP Module" which I would say should be "cPP-Module", but I'm wondering if it should just be "PP-Module" because the collaborative part i

[2019-05-01 18:03] The-Fiona commented on #160
I thought about the term "cPP module" because I have not seen it used anywhere before. This does not make it wrong. a "cPP" is a term used only by the CCRA. (A PP that is developed collaboratively).
The terms in the new revision (and the existing CC) are pure: "PP" and "PP-Module".

I easily deduced what was meant by a "cPP-Module". It's just a term that I have not seen used before.

[2019-05-01 18:05] The-Fiona commented on #160
Sorry - I thought "close" meant to close the commenting box.

[2019-05-01 19:24] nils-tekampe commented on #160
I still think that we should move forward as a cPP and not as a module. For this reason, I think that this goes into the wrong direction. The terms that you are discussing here are not defined anywhere, are they?

[2019-05-01 19:39] The-Fiona commented on #160
cPP is defined in the CCRA
PP and PP-Module are defined in CC 3.1 R5

[2019-05-01 19:43] The-Fiona commented on #160
Nils has a point. If it is a PP-Module then there is no point is mentioning in the cover letter that AVA_VAN is excluded. Since in a PP-Module it would not be mentioned (since SARs are assumed to be inherited from its base PP).

If it is to be a PP (cPP) then that is valid text.

I remember a discussion on this topic, and I even remember suggesting that we could produce both. I don't recall if we

[2019-05-01 19:50] The-Fiona commented on #159
me too.

[2019-05-01 19:51] woodbe commented on #160
So the current conclusion is that US, Japan and Germany are trying to talk to settle how to best handle the question to everyone's satisfaction. I spoke with Mary Baish about this last week and she said they were trying to get a call setup (I also volunteered to attend if it would help). So basically she asked that we hold off on making any decisions about this issue and how to proceed until they

[2019-05-01 20:52] nils-tekampe commented on #160
As I pointed out before, I am against any kind of publication now.

@The-Fiona I am really struggling to understand the status of the document that we would produce here. It would be a PP module for a base PP that by itself has never been certified nor the status of a cPP. Would a PP module in this situation have any kind of formal/official status? Or would it rather become a kind of template for

[2019-05-01 20:56] nils-tekampe commented on #160
@woodbe the feedback that you describe from Mary is almost identical to wat I heard from BSI. But the way I understood the feedback is that a publication at this Moment would be counter-productive (even if accompanied by such an explanation)

[2019-05-01 21:15] woodbe commented on #160
@nils-tekampe Interesting, because what I took from Mary was that the sooner we review the better, and noting where there are still open issues would allow us to proceed on the rest of the document. This is at Review Draft stage, but the problem is we now only have 4 people regularly reviewing at this point, so not getting it out there, especially if the scheme decision takes a long time, really m

[2019-05-01 21:25] The-Fiona commented on #160
@nils-tekampe. My understanding is the PP-Module would be used with a base PP. We have discussed the MDF PP (From NIAP) and the OS PP as base PPs. I believe that both of these are validated PPs. (Although I saw that OS PP was updated this week and haven't checked yet if a validation cert is available for that new version.).
You can check the cert for [MDF PP here.](https://www.commoncriteriaportal

[2019-05-01 21:37] nils-tekampe commented on #160
Ok, assuming that the base PPs are certified, we would be writing a „classical“ PP module as defined in the CC. Understood. So, I guess that this would have to undergo certification as well, right?

I am honestly a bit (looking for a word, let’s use surprised for now): the one major argument that was used in the discussion on whether to include AVA VAN or not, has been, that the CCRA rules for cPP

[2019-05-01 22:16] The-Fiona commented on #160
I don't believe that PP-Modules are separately certified. Instead they
are evaluated through the PP-Configuration. See the ACE class in CC part 3.

https://www.commoncriteriaportal.org/files/ccfiles/CCPART3V3.1R5_marked_changes.pdf

I think that the latter, a "regular" PP with no AVA_VAN, was exemplified
in the PP you shared with us earlier. Although I still do not understand
how this could be rec

[2019-05-03 07:16] nils-tekampe commented on #160
Just a short note: In the German scheme PP-modules are evaluated and certified (usually along with their base PP)

[2019-05-03 13:08] woodbe commented on #160
So as for whether AVA_VAN needs to be mentioned if we are a PP-Module or not, I think it still does as we have to explain what we think that means for the biometric system (or at least we have the ability to, I think). @n-kai has some descriptions already in the document about how it applies, and I think this is part of the discussion in the context of AVA_VAN.

[2019-05-03 13:09] woodbe commented on #159
Thanks

[2019-05-03 13:09] #159 closed

[2019-05-03 14:15] The-Fiona commented on #160
Thank you Nils, I didn't know that. I am happy to hear that.

Yes, if they are "flattened" with their base PP, then the APE criteria
can be used.

- Fiona

On 2019/05/03 02:16, Nils Tekampe wrote:

--
Fiona Pattinson, CISSP
atsec information security corporation
Cell:+1 512 8253083 / Office:+1 512 6157382

[2019-05-07 19:21] woodbe commented on #143
@n-kai have you looked at how to change this regarding the SD? The only place I see this really is [6.3.1.2.2](https://github.com/biometricITC/cPP-biometrics/blob/master/4_Methodology/BS_SD.adoc#63122-new-pais-found).

If we are going to send this out for public review soon, I would like to take care of this if we can.

[2019-05-08 10:20] n-kai commented on #160
I don't know the final conclusion of this issue but I approved all PRs created by @woodbe because all changes can be undone easily and moving to public review is more important for me.

[2019-05-14 07:27] n-kai commented on #143
@woodbe
The following is my proposed change so pls tell me it's fine for you. I modified [6.3.1.2.2](https://github.com/biometricITC/cPP-biometrics/blob/master/4_Methodology/BS_SD.adoc#63122-new-pais-found) referring [3.5.1](https://github.com/biometricITC/cPP-biometrics/blob/master/3_ProtectionProfile/BiocPP.adoc#351-use-case-1-mobile-biometric-verification-for-unlocking-the-mobile-device)

I wil

[2019-05-14 14:53] woodbe commented on #143
This text looks fine for me. I still think there isn't any difference between the login and the sensitive services because no one implements it that way on the device, but this at least is better than an attack for fun.

[2019-05-15 01:07] n-kai commented on #143
I created the PR #165 to implement proposed change with editorial modification.

[2019-05-31 16:00] woodbe commented on #146
I am going to close this at this point. While "good looking" output is important, we will deal with that once we are ready for release, and if that means editing in something like LaTex or Acrobat or something, we will handle it then. The tools will be based on what expertise is available at that point.

[2019-05-31 16:00] #146 closed

[2019-05-31 16:01] woodbe commented on #143
Closing based on approval and merge of #165.

[2019-05-31 16:01] #143 closed

[2019-05-31 16:02] woodbe commented on #135
Unless there are objections, I will close this issue before the next meeting (6/13).

[2019-05-31 16:04] woodbe commented on #111
Unless there are objections, I will close this issue before the next meeting (6/13).

[2019-05-31 16:06] woodbe commented on #109
Unless there are objections, I will close this issue before the next meeting (6/13).

[2019-06-03 13:03] woodbe opened #169 "Change ISO21879 as it is still in draft"
From @ohenniger :

ISO/IEC 21879 (under development) is referenced to suggest a FAR target value. Better reference a finished document dealing with this issue.

Replace [ISO21879] with "[ISO/IEC TR 29156] Information technology -- Guidance for specifying performance requirements to meet security and usability needs in applications using biometrics. 2015"

[2019-06-03 13:06] woodbe commented on #169
Note that I have created PR #170 which changes ISO21879 to ISO19795-9 in reference to a different comment, but it is still under draft and could be further changed.

[2019-06-03 13:11] woodbe opened #171 "Extended component definitions should be referenced and not replicated"
From @ohenniger :

The contents of "7.3 Identification and Authentication (FIA)" is redundant to the extended-component definitions "12.1 Identification and Authentication".

The extended components should be defined in 12.1 and should be referenced, not replicated, in 7.3.

---

The contents of "7.4 Protection of the TSF (FPT)" is redundant to the extended-component definitions "12.2 Protection o

[2019-06-03 13:12] woodbe commented on #171
@ohenniger I am not sure I understand the difference here between replication and reference. Do you mean that the application notes should be left to section 12.x or something else?

[2019-06-03 13:16] woodbe commented on #171
An interesting question that occurred to me on this topic is that we have the same application notes in both places and they are numbered separately (i.e. note 12 and note 26 are the same because they are both for FIA_MBE_EXT.1.1). Maybe this is the point about replication?

[2019-06-03 13:22] woodbe commented on #169
Second, related comment on changing to the ISO29156:

ISO/IEC PDTS 21879 became ISO/IEC DTS 19795-9. ISO/IEC DTS 19795-9 does not mention "four-digit PIN code".

Replace
"[ISO21879] is proposing that FAR would be 1 in 10000 or lower that is equal to a conventional four-digit PIN-Code for secure transaction"

with

"[ISO/IEC TR 29156] suggests as a simple rule of thumb that for basic, medium and hi

[2019-06-03 13:24] woodbe opened #173 "Update relationship to other ISO biometric standard under development"
From @ohenniger:

BiocPP and BS_SD do not reference the following related standards documents under development:

[ISO/IEC 19989-2] Information technology -- Security techniques -- Criteria   and methodology for security evaluation of biometric systems -- Part 2: Biometric   recognition performance

[ISO/IEC 19989-3] Information technology -- Security techniques -- Criteria   and methodology for s

[2019-06-04 03:33] n-kai commented on #173
Yes, those references should be removed from the draft.
I will do a final check to find other errors in the draft before the public review.

[2019-06-12 14:19] The-Fiona commented on #111
No objection from me.

[2019-06-12 14:21] #111 closed

[2019-06-12 14:49] The-Fiona commented on #171
I am not understanding this issue well.
7.3 and 7.4 are referencing the extended components defined in 12.1 correctly.

I agree about the application notes as a possible cause of this issue. However, if you consider that the point of clause 12 is to define the extended components just as they would be if they appeared in the part 2 components catalogue. Part 2 contains "generic" application notes

[2019-06-13 10:21] woodbe commented on #171
Response form @ohenniger

Redundancy comes with the risk of inconsistency. Therefore, I think the contents of 7.3 could be replaced with “The TOE shall meet the requirements FIA_MBE_EXT.1.1, FIA_MBE_EXT.2.1, FIA_MBV_EXT.1.1, FIA_MBV_EXT.1.2, FIA_MBV_EXT.2.1, and FIA_MBV_EXT.3.1, which are defined in 12.1”. By the way, why is FIA_MBE_EXT.3.1, which is defined in 12.1.1, not mentioned in 7.3?

[2019-06-13 12:44] woodbe commented on #169
I have proposed this change in #175. We could close #170 in favor of this change instead.

[2019-06-13 12:54] woodbe commented on #173
So thinking about the change in #175. I assume it is probably worth while to have these all listed as reference documents, so that they are all listed as related but I don't know that we need to go any further. This would also bring back the drafts (now 21879) as related, but leave the change in #175 as the one that is referenced later in the document. This may actually be a more clear point since

[2019-06-13 15:19] The-Fiona commented on #171
Thank you @ohenniger. Now I understand the issue.

While we agree that at first sight this seems like a redundancy,  as I explained above, the section 12 is creating the formal definition of the components, and could contain uncompleted components. Section 12 provides the dependencies and hierarchical information for these new components, and is required to do so in the same format as the CC part

[2019-06-13 15:19] #171 closed

[2019-06-13 17:11] woodbe commented on #173
This has been added to the latest release.

[2019-06-13 17:11] #173 closed

[2019-06-13 17:12] woodbe commented on #169
This has been added to the latest version.

[2019-06-13 17:12] #169 closed

[2019-06-13 17:13] woodbe opened #179 "Use Asciidoctor auto numbering for application notes"
There is a counter function that can be used to automatically track things within the document.

I will add this to the PP-Module (and any other relevant docs) after PR Draft 1 period has ended.

[2019-06-13 17:15] woodbe opened #180 "Remove application notes from SFR definitions"
We will look at removing the application notes from the SFR definitions is section 12 since they should not be needed in that section.

This won't be done until after PR Draft 1

[2019-07-22 19:24] woodbe opened #181 "AVA_VAN & ATE_IND consistent descriptions"
As reported by Mary Baisch, the toolbox and the SD are inconsistent in the descriptions of AVA_VAN. Section 6 defines AVA_VAN using the toolbox, but according to the toolbox description we have explicitly stated that it only covers ATE_IND. I have made an [update](https://github.com/biometricITC/cPP-toolboxes/pull/13) proposed for the toolbox about adjusting it so it is clear that the toolbox is f

[2019-07-23 18:18] woodbe commented on #181
I want to add one thing to this discussion that was pointed out (copying directly here from Mary):

Of course this is a lot of what we have talked about for the inclusion of AVA_VAN (or not), especially if this is an independent cPP, and I do not know that the group is sufficiently equipped to do this. I completely agree with her point, but I also do not think we have the expertise or people to go

[2019-07-23 18:22] woodbe commented on #179
Apparently I (or someone) already did this, so closing the Issue.

[2019-07-23 18:22] #179 closed

[2019-07-25 09:08] n-kai commented on #181
I assume that the following toolbox update process.
1. evaluator finds the new PAI during AVA_VAN that is not included in the toolbox and evaluator determines that it should be tested. ([SD] 6.3.1.2.2)
2. evaluator creates a test item for the new PAI at the same format and level of detail as existing ones in Toolbox and report it to the BIO-iTC ([SD] 6.3.1.3.2)
3. BIO-iTC determine it should be ad

[2019-07-25 11:42] The-Fiona commented on #181
This may be over simplistic but...
If it is a PP-Module, then yes it inherits AVA_VAN from it's base PP (eg MDFPP)
If it is a cPP then, yes, we have to write AVA_VAN. Perhaps in the first edition we simply cut and paste the AVA_VAN from MDFPP into the biometrics cPP. Of course that would be a very NIAP-centric solution. For the next editions we can think more about the various hypotheses scenarios

[2019-07-25 12:06] The-Fiona commented on #181
Naruki-san,
Yes, I like your toolbox update process. It should be similar to the interpretations team and could use that process (which we also need to develop). We could have biometric interpretations ("BITS") c.f. the NITS for the network devices iTC. :)

I thought we already had an issue for that, but I don't see it there.

[2019-08-06 12:36] woodbe commented on #180
Closing as this was done in the latest PR

[2019-08-06 12:36] #180 closed

[2019-08-22 03:02] n-kai opened #186 "Solutions for PAD issue"
There are following options to take for the PAD issue. I would like to know any view or opinion from members which option the iTC should take.

**Option 1: cPP includes AVA_VAN.1 for PAD**
The evaluator conducts both independent (ATE_IND.1) and penetration (AVA_VAN.1) testing using toolboxes which includes the latest attack. The TOE will be failed if the evaluator can find such PAI that can reliab

[2019-08-22 11:27] woodbe commented on #186
I think that option 2 is our best bet right now for splitting the difference (so to speak) on the coverage for AVA_VAN. Proposing this to the CCDB may at least get a response and a direction to move.

[2019-08-22 13:50] n-kai commented on #186
I am fine with option 1 and 2 but I disagree with option 3 because I believe that AVA_VAN evaluation is possible for certain type of biometric modalities (Three biometric TOE evaluations are ongoing with AVA_VAN.2 under Japanese scheme and I don't see any issues for AVA_VAN evaluation)

[2019-08-22 14:42] woodbe commented on #186
@n-kai will write a new draft of the ESR based on option 2 and we will then send this to the mailing list and sponsoring schemes for feedback/comments prior to the CCDB/ICCC meetings.

@woodbe will setup a survey to gather the input from the feedback request.

[2019-09-03 13:05] woodbe opened #187 "Edit PP-Module to not be MDFPP-specific"
I am wondering if we should consider editing the PP-Module to move things like the MDFPP justifications to somewhere else (I'm wondering if these should actually be in the PP-Configuration since that actually makes more sense as the place to justify why the PP and PP-Module would go together).

I do not know if this is actually possible in terms of the expectations of the PP-Configuration document

[2019-09-05 10:43] n-kai commented on #187
I agree with you.

Current CC/CEM V3.1.5 is not clear about it but according to the latest ISO version of CC (ISO/IEC 15408-1 CD3);

_C.3.1.5 Consistency rationale
A PP-Configuration shall provide a consistency rationale to ensure the compatibility of the combination of components (components are Base PPs and the PP-Modules that compose the PP-Configuration).
The consistency rationale shall demons

[2019-09-05 14:15] woodbe commented on #186
@n-kai created a proposed ESR and it has been distributed to the iTC. It will also be sent specifically to the scheme representatives for review.

[2019-09-05 14:15] #186 closed

[2019-09-05 14:59] woodbe commented on #187
Noted that this should be done, probably after the ICCC, as it seems the right thing to work towards.

@woodbe will start a PR for this when he has a chance.

[2019-10-18 18:37] woodbe opened #188 "Hybrid requirement placeholder"
This is to hold the requirement FIA_HYB_EXT.1. At the Singapore meeting @lewyble stated that this requirement would be brought into MDFPP v3.3 as part of the integration since it really makes more sense there than in the PP-Module.

As part of the "clean-up" to make the PP-Module more generic, this was taken out.

----------

=== MDFPP Security Functional Requirements Direction

This section instr

[2019-12-05 14:07] ccolin318 opened #191 "Add "Artefact" to Glossary"
The word "Artefact" is used in several documents but is not defined in section 2.5 of the PP.

[2019-12-05 14:07] ccolin318 opened #196 "Add "Artefact" to Glossary"
The word "Artefact" is used in toolbox.adoc but is not defined in section 2.5 of the PP.

[2019-12-05 14:21] ccolin318 opened #192 "Grammatical Errors section 3.5"
Section 3.5 in the PP seemed to have some grammatical errors such as leaving off "the" in places. This issue was mostly noticed in this section.

[2019-12-05 14:33] ccolin318 opened #193 "FIA_UAU.5 in separate section"
Why is FIA_UAU.5 separated from the other SFRs in Section 7.1? Would it make more sense to put it with the others in section 7.2?

[2019-12-05 14:35] ccolin318 opened #194 "Application note 13"
The wording of application note 13 seems like its adding a requirement to this SFR. My understanding is that application notes should add context/guidance to the SFR but are not required to be adhered too. The SD for the SFR states that this is out of the scope for the EA.

[2019-12-05 14:45] n-kai commented on #191
Which documents do you mention?
Current our focus is following three documents but I can't find "Artefact" in those document.
PP-Module: https://github.com/biometricITC/cPP-biometrics/blob/master/3_ProtectionProfile/BiocPP.adoc
PP-Configuration: https://github.com/biometricITC/cPP-biometrics/blob/master/3_ProtectionProfile/PP%20config.adoc
Supporting Document: https://github.com/biometricITC/cPP-b

[2019-12-05 14:47] ccolin318 commented on #191
it was in the toolbox.adoc document

[2019-12-05 15:34] woodbe commented on #193
Section 7.1 should have been moved into the PPC

[2019-12-05 15:40] woodbe commented on #194
Need to clarify that this related to A.Alternative and the TOE environment authentication

[2019-12-05 19:22] woodbe commented on #196
Moved back since the actual change is in the PPM.

[2019-12-06 15:02] woodbe commented on #193
This is now located in the PPC (though differently) here:

https://github.com/biometricITC/cPP-biometrics/blame/ea0e17d855b3173f705eb7d6caaac9d1bb911e0a/3_ProtectionProfile/PP%20config.adoc#L125

[2019-12-06 15:02] #193 closed

[2019-12-17 11:43] #196 closed

[2019-12-17 11:45] woodbe commented on #194
Closed as merged.

[2019-12-17 11:45] #194 closed

[2019-12-17 11:46] woodbe commented on #192
Closed as merged

[2019-12-17 11:46] #192 closed

[2020-01-14 14:10] #187 closed

[2020-01-14 14:11] woodbe commented on #160
Closing as current path is PP-Module

[2020-01-14 14:11] #160 closed

[2020-01-14 14:11] #135 closed

[2020-01-27 15:14] woodbe opened #203 "Use Protection Profile instead of PP for the first time in the document"
https://github.com/biometricITC/cPP-biometrics/blame/c52f87fc6c717c04e0d6448d17995b458d5b54d5/3_ProtectionProfile/BiocPP.adoc#L16

Instead of saying "collaborative PP-Module", write it out as "collaborative Protection Profile-Module (PP-Module)".

Issue 1 from Cybersecurity Malaysia

[2020-01-27 15:15] woodbe commented on #203
I'm not sure about this. The PP-Modules I see just state PP-Module up front, so I don't know if this is actually a correct term (Protection Profile-Module).

[2020-01-27 15:47] woodbe opened #209 "Add definitions from diagram to glossary"
Add Biometric Claim and Biometric Probe to the glossary as both are used in Figure 1.

Issues 9 & 10 from Cybersecurity Malaysia

[2020-01-27 15:49] woodbe commented on #209
I am not sure we should add these definitions or make an adjustment to the diagram to eliminate the need for the terms.

[2020-01-27 16:06] woodbe opened #210 "Question on Secure Execution Environment"
Is software isolation mechanism is also included? Is similar to Trusted Execution Environment.

@woodbe is going to reach out to confirm what they mean by software isolation (thinking is that this likely is an OS-level isolation and not what we considered acceptable).

Issue 11 from Cybersecurity Malaysia.

[2020-01-27 16:08] woodbe opened #211 "Add numbers to Figure 1 to describe capabilities"
Add numbers in Figure 1 to represent the capabilities of TOE.

Issue 12 from Cybersecurity Malaysia

[2020-01-27 16:11] woodbe opened #212 "Use case 1 applicability?"
Is Use Case 1  applicable for all of general purpose computing platform, such as a laptop, tablet or smartphone?

Suggest to define the computing platform used for this scenario.

Issue 13 from Cybersecurity Malaysia

[2020-01-27 16:26] woodbe opened #214 "Add the term 'plaintext biometric' in glossary"
Plaintext is a term used in cryptography that refers to a message before encryption or after decryption. That is, it is a message in a form that is easily readable by humans

Issue 16 from Cybersecurity Malaysia

[2020-01-27 16:30] woodbe opened #215 "Make FPT_BDP_EXT.2/3 have consistent titles"
FPT_BDP_EXT.2 is "No Biometric data transmission"
FPT_BDP_EXT.3 is "Biometric data storage"

These are both "don't do something with biometric data in plaintext", but only one requirement states "No".

Either add "No to FPT_BDP_EXT.3 or remove it from FPT_BDP_EXT.2.

Issue 17 from Cybersecurity Malaysia

[2020-01-27 17:07] woodbe opened #220 "Should tamper evidence be added?"
If tamper is detected, the computer should be locked for a certain time before user tries again.

Issue 23 from Cybersecurity Malaysia

[2020-01-27 17:09] woodbe commented on #220
I don't think this is relevant to here since we are only dealing with the subsystem. The tampering report would be provided to the whole system which should then make the decision about blocking/locking.

[2020-01-27 17:11] The-Fiona commented on #203
In the proposed ISO standard the definition is thus:

**Protection Profile module
PP-Module**
implementation-independent statement of security needs for a TOE type complementary to one or more Base Protection Profiles

So, I would suggest if we do spell it out on first use that we use the term "Protection Profile module" and thereafter "PP-Module"

[2020-01-27 17:13] The-Fiona commented on #203
Plus....
"collaborative Protection Profile" is a construct of the CCDB/CCRA scheme and therefore does not appear in the ISO standard. I guess the authoritative source for that term is the CCRA committees..

[2020-01-27 17:15] woodbe opened #221 "Sync storage terms"
Synch the term 'Data Storage Subsystem' with 'Storage Subsystem'.

Issue 24 from Cybersecurity Malaysia

[2020-01-27 17:16] woodbe commented on #221
I'm not really sure this matters much. There are a few places that use data, and a few that don't, but I'm not sure it specifically matters.

[2020-01-27 17:18] woodbe opened #222 "Adjust PAD in Figure 1"
To add synch Figure 1 term (Presentation attack detection subsystem) after artefact.
Reorder this point as the last.

Optionally detecting the presentation attacks using an artefact (Presentation attack detection subsystem).

Issue 25 from Cybersecurity Malaysia

[2020-01-27 17:20] woodbe opened #223 "Ensure definition consistency"
Through out the document, suggest to define user whether it is Biometric System Admin or Computer User as per glossary.

Issue 26 from Cybersecurity Malaysia

[2020-01-27 18:30] woodbe opened #225 "Make this statement more concise"
https://github.com/biometricITC/cPP-biometrics/blame/c52f87fc6c717c04e0d6448d17995b458d5b54d5/4_Methodology/BS_SD.adoc#L16

The introduction statement to the SD is a long, run-on sentence that isn't necessarily clear.

Issue SD1 from Cybersecurity Malaysia

[2020-01-27 20:08] woodbe opened #233 "Add document identifier to SD title"
To add identifier after the title for ease of identifying documents

Issue SD11 from Cybersecurity Malaysia

[2020-01-27 20:10] woodbe commented on #233
I didn't create a pull request for this as I was thinking that we should probably call this [BIOSD] or [BIO-SD] as opposed to just [SD] as we have been doing.

This is related to #224 and seems like a good idea overall.

[2020-01-27 20:41] woodbe commented on #203
I'm still good with us leaving "collaborative" as a descriptor for the PP-Module. I'll make a pull request to review.

[2020-01-29 18:08] gfiumara opened #235 "Template vs Sample Quality"
[Section 2.3.2](https://biometricitc.github.io/pr-draft2/SD-BIO-enrl-v0.92DRAFT.html#_ea_for_fia_mbe_ext_2) of Supporting Document talks about the quality of the template, but I believe is actually referring to the quality of the sample encoded within the template. Presumably, the template is a valid parsable file, or corrupt. Also, presumably, templates are compared to another template, not a sam

[2020-01-29 18:13] gfiumara opened #236 "Ensuring Sufficient Quality Samples"
[Section 2.3.2.5.2](https://biometricitc.github.io/pr-draft2/SD-BIO-enrl-v0.92DRAFT.html#_strategy_for_ate_ind_2) of Supporting Document: How can the evaluator be expected to produce impressions of a particular quality? If there are specific techniques (face: low/no light, obscured, off-angle. finger: wet, dry, cut, rough, dirty), should they be specified? One can't present a sample of a particula

[2020-01-29 18:13] gfiumara opened #262 "Ensuring Sufficient Quality Samples"
[Section 2.3.2.5.2](https://biometricitc.github.io/pr-draft2/SD-BIO-enrl-v0.92DRAFT.html#_strategy_for_ate_ind_2) of Supporting Document: How can the evaluator be expected to produce impressions of a particular quality? If there are specific techniques (face: low/no light, obscured, off-angle. finger: wet, dry, cut, rough, dirty), should they be specified? One can't present a sample of a particula

[2020-01-29 18:16] gfiumara opened #237 "ATE_IND Strategy, Temp Files and Volatile Memory"
[Section 2.4.3.5.2](https://biometricitc.github.io/pr-draft2/SD-BIO-enrl-v0.92DRAFT.html#_strategy_for_ate_ind_4) of Supporting Document: Suggest some additional steps in this check. Current steps discount temporary files and the contents of volatile memory. Suggest something that can dump the contents of volatile memory before/after and knows the format of biometric data files to ensure data didn

[2020-01-29 18:20] gfiumara opened #238 "Ongoing Evaluation of PAD Artifacts"
[Section 6.3.1.2.2](https://biometricitc.github.io/pr-draft2/SD-BIO-enrl-v0.92DRAFT.html#_new_artefacts_found) of Supporting Document: Suppose one week after TOE completes PAD testing for Device A, a new item, Artifact X, is added to the toolbox during the evaluation of Device B. What is the requirement for ongoing testing of Device A against the toolbox? Suppose both Device A and Device B are vul

[2020-01-29 18:22] woodbe commented on #236
@gfiumara These specific details are documented in the Toolboxes and not the SD. The goal is to have an SD that is general enough for any modality, and details of the modality would be located there (we also expect some of these things will vary over time, and we wouldn't want to have to update the SD based on those changes or any time we add a new modality).

[2020-01-29 18:22] gfiumara opened #239 "Improve Presentation Method with Sample Quality"
[Section 6.3.1.3.1 Item c](https://biometricitc.github.io/pr-draft2/SD-BIO-enrl-v0.92DRAFT.html#_no_new_artefacts_found_test_plan) of Supporting Document: It may be useful to require a sample quality score be returned here, to make it more likely to test PAD thoroughly, rather than use presumed trial and error. Suggest adding more than just increasing time to find a better presentation method, sin

[2020-01-29 18:24] gfiumara opened #240 "Timeframe for Penetration Testing"
[Section 6.3.1.4](https://biometricitc.github.io/pr-draft2/SD-BIO-enrl-v0.92DRAFT.html#_conduct_the_penetration_testing) of Supporting Document: Curious as to the rationale of quantifying a single week of penetration testing when no other task in this document has a timeframe imposed.

[2020-01-29 18:27] woodbe commented on #238
@gfiumara are you talking about both of these being in evaluation at the same time or that Artifact X comes up after Device A has been already certified?

Common Criteria isn't an ongoing review, so I would expect that A would have passed if it was done prior to the new artifact type and B to fail after it is available. Normally what happens in these cases is the scheme would request some sort of

[2020-01-29 18:31] gfiumara opened #241 "Mandate Demographic Diversity"
[Section 7.3.2 Item a](https://biometricitc.github.io/pr-draft2/SD-BIO-enrl-v0.92DRAFT.html#_target_application_and_influential_factors) of Supporting Document: Demographics play a **huge** role in modalities like face, with some 2D image algorithms performing upwards of 100x different than others on certain populations. It is likely no longer fair to publish a FAR/FRR number without specifying th

[2020-01-29 18:34] gfiumara opened #242 "Symmetric Verification Disclosure"
[Section 8.1.5](https://biometricitc.github.io/pr-draft2/SD-BIO-enrl-v0.92DRAFT.html#_statistical_certainty_for_farfmr) of Supporting Document: This section has discussion of an assumption that can't be used if the verification algorithm is symmetric. Does the documentation require disclosing if the algorithm is symmetric?
- Yes: is it required to _verify_ that it is symmetric?
- No: it should be

[2020-01-29 18:37] gfiumara opened #243 "Which Fingers are Used?"
[Section 8.1.5](https://biometricitc.github.io/pr-draft2/SD-BIO-enrl-v0.92DRAFT.html#_statistical_certainty_for_farfmr) of Supporting Document: Intra-individual compares are not permitted, but what about interdigital? Can we compare little fingers to ring fingers as part of a cross-comparison? If so, is this fair? Testing routinely shows dramatically different performance of different fingers, lik

[2020-01-30 00:43] n-kai commented on #209
It's OK to eliminate terms but if you want to add definition, please see below that copied from ISO/IEC JTC 1/SC 37/WG 1 Harmonized biometric vocabulary

biometric probe: biometric sample or biometric feature set input to an algorithm for use as the
subject of biometric comparison to a biometric reference(s)

biometric claim: claim that a biometric capture subject is or is not the source of a spec

[2020-01-30 00:51] n-kai commented on #211
I don't think that numbers are not necessary because capabilities of the TOE can be identified through subsystem name (e.g. Data Capture Subsystem)

[2020-01-30 01:05] n-kai commented on #212
The following is OK for Cybersecurity Malaysia? I update or add bold text.

_**This use case is applicable for any computers such as desktop, laptop, tablet or smartphone that implement biometric enrolment and verification functionality**. For enhanced security that is easy to use, the computer may implement biometric verification on a **computer** once it has been “unlocked”. The initial unlock i

[2020-01-30 01:20] n-kai commented on #214
In 8.3.1 term "plaintext biometric data" is used and "biometric data" is defined in 2.5. Glossary so I don't think that adding "plaintext biometric data" to 2.5 is unnecessary because base-PP (MDFPP) also uses term "plaintext" without definiton in Glossary so PP-module should follow the way of definition of its base PP

[2020-01-30 01:22] n-kai commented on #215
I agree to remove "No" from FPT_BDP_EXT.2

[2020-01-30 01:25] n-kai commented on #220
I agree with @woodbe.

[2020-01-30 01:29] n-kai commented on #221
I think that they point out that term "Storage Subsystem" is used in Figure 1 but text under the figure 1 uses term "Data Storage Subsystem". I also made a comment requesting remove "Data" from text.

[2020-01-30 01:33] n-kai commented on #222
I agree with their proposal. Current text under Figure 1 miss the subsystem name. Move text below to the last bullet and add subsystem name as they propose.

• Optionally detecting the presentation attacks using an artefact

[2020-01-30 01:39] n-kai commented on #223
PP Module currently defines the following terms so reader can understand that the device owner acts as User = Computer User = Biometric System Administrator so no additional definition is unnecessary,

_Biometric System Administrator
Person who is responsible for configuring the TOE. This PP-Module assumes that the user acts as
the biometric system administrator.
Computer User (User)
The individua

[2020-01-30 01:56] n-kai commented on #225
The following text is my proposed change

This Supporting Document is “Mandatory Technical Document”, whose application is mandatory for evaluations and only those certificates issued as a result of its application are mutually recognized under the CCRA.

[2020-01-30 01:59] n-kai commented on #233
I agree, [BIOSD] or [BIO-SD] is better

[2020-01-30 02:24] n-kai commented on #235
Yes I agree. In case of finger vein recognition, if the sample doesn't have vein patterns clear enough, the TOE has to repeat data captures until the TOE can get clear vein pattern to create a template that have enough features for comparison.

I propose the following change.

**Biometric verification performance depends on quality of samples from which templates are generated. The evaluator shall

[2020-01-30 03:23] n-kai commented on #237
I agree but I want to avoid duplicate evaluation effort between BIO PP module and its base PP (MDFPP or GPOS PP). For example, MDFPP requires to separate privileged domain from user domain (FPT_AEX_EXT.4). If the evaluator can verify that the mobile device doesn't allow user app to access any privileged data including privileged temp file or volatile memory during the mobile device evaluation base

[2020-01-30 03:33] n-kai commented on #238
If artefact X is added to the toolbox, version of toolbox should be incremented (e.g. toolbox V1 to V2). Validation report need to specify the version of toolbox used during the evaluation. So Device A's validation report states A is tested based on toolbox V1 without X and Device B's report states B is tested based on V2. However, if both Device A and Device B are evaluated at the same time, sche

[2020-01-30 03:47] n-kai commented on #239
Sample quality score may not be related to possibility of successful PAD attack. In case of finger or palm vein, if the TOE measure the narrowing and widening of the blood vessels to judge whether it is artefact or not, measuring sample quality score to tune the presentation method may not help to find a better presentation and bio PP module require the evaluator to test the TOE in black box manne

[2020-01-30 03:51] n-kai commented on #240
I propose to add text like "whole evaluation should be finished within 3 months and PAD testing should be finished within a single week". Smartcard evaluation supporting document define similar normal evaluation time flame to keep consistency different evaluations and BIO SD follows it.

[2020-01-30 03:58] n-kai commented on #241
I agree with you. Japanese vendor normally use their employees (many of them are 30-50 and men) to measure FAR/FRR and they know that different value of FAR/FRR can be measured by 20-30 women. 7.3.2 Item a should be copied into the final validation report so that everyone can look at.

[2020-01-30 04:06] n-kai commented on #242
SD doesn't require evaluator to verify that it is symmetric based on some evidence like design doc. But evaluator should ask developer about the algorithm if cross-comparison of attempts/templates for ordered pair is included to make sure that the developer do the right performance test.

[2020-01-30 04:23] n-kai commented on #243
SD is developed based on ISO/IEC 19795-1 and it define the cross-comparison as every sample feature is compared against every non-self template so it's OK to compare User A's little finger with User B's ring finger. It may be odd but that's the role of standard (i.e. it's fair if everyone allow this)

[2020-01-30 13:57] ccolin318 commented on #220
I also agree with @woodbe

[2020-01-30 13:59] ccolin318 commented on #215
I agree with @n-kai

[2020-01-30 15:08] woodbe commented on #209
@woodbe will create a PR after the call.

[2020-01-30 15:12] woodbe commented on #211
based on 1/30 call, this will be closed as group does not feel this is necessary at this time.

[2020-01-30 15:12] #211 closed

[2020-01-30 15:14] woodbe commented on #212
@woodbe will create a PR with the text from @n-kai

[2020-01-30 15:15] woodbe commented on #214
based on 1/30 call this will be closed as the group agrees this isn't necessary

[2020-01-30 15:15] #214 closed

[2020-01-30 15:16] woodbe commented on #215
@woodbe will create a PR removing the "No"

[2020-01-30 15:17] woodbe commented on #220
Based on the 1/30 call, the groups feels this is not relevant at this time.

[2020-01-30 15:17] #220 closed

[2020-01-30 15:19] woodbe commented on #221
@woodbe will create a PR to remove "data" from these entries

[2020-01-30 15:22] woodbe commented on #222
@woodbe will create a PR for this to be reviewed by @n-kai

[2020-01-30 15:35] woodbe commented on #223
Points brought up:

- since Admin and User are assumed to be the same, then maybe we should only have one common term, with a combined glossary entry
- Maybe we could have "authenticated user" and "unknown user" to distinguish between states and authorization
- could just be better clarification as to the expected role
  - this would require a description that these roles are assumed to be the sam

[2020-01-30 15:38] woodbe commented on #225
@woodbe will create a PR with the text from @n-kai

[2020-01-30 15:40] woodbe commented on #233
@woodbe will create a pull request using [BIOSD] as decided on the 1/30 call

[2020-01-30 17:07] gfiumara commented on #238
@n-kai Okay, in that case, I might suggest that it be made explicit that Toolbox versions be recorded in public facing documentation resulting from 6.3.1.5.

I might also suggest that there be a path for re-evaluation of *only* PAD for *only* updated items within the toolbox when new versions of toolboxes are deployed, but maybe such a suggestion is out of scope for this document.

[2020-02-03 17:32] #203 closed

[2020-02-03 17:35] #212 closed

[2020-02-03 17:36] #215 closed

[2020-02-03 17:36] #221 closed

[2020-02-03 17:40] #233 closed

[2020-02-03 19:04] woodbe commented on #237
I am not sure exactly how biometric systems work on a Windows (or other) system. I would assume that the templates and such are handled in some restricted area, not in the rich OS, so I do not know how you would readily be able to do the scanning or monitoring of the system to see. I will try to reach out to Microsoft and see if they can provide some information.

[2020-02-03 19:19] woodbe commented on #238
@n-kai what we may want to do is separate out the modalities into separate repositories so they can be readily versioned individually. What we probably don't want is to have changes from fingerprint to require a complete revision of all the other modalities.

So we would do something like have the Toolbox repository which would focus on the toolbox overview and related top-level docs.

Then each r

[2020-02-03 19:30] woodbe commented on #239
I'm also not sure how to report a quality score for a black-box implementation. If a quality score isn't normally issued by the system (i.e. most of the mobile devices ones are a Yes/No response), I'm not sure where the quality score would come from without a LOT more changes to the system for the testing.

[2020-02-03 20:02] woodbe commented on #241
I have two questions about this. I completely agree with the point, but have 1 concern and 1 suggestion.

The concern is whether this becomes a hidden requirement. If the vendor is doing testing that meets requirements similar to what FIDO specifies for 1:10K FAR for fingerprint, they would have to have roughly 125 people with 2 fingers, so what if that was 80% Japanese men between 30-50 and this

[2020-02-03 20:19] gfiumara commented on #239
My initial reading of 2.3.2.5 seemed to indicate that there was some way to quantify quality, so I was suggesting that quantification perhaps be returned here as well.

[2020-02-03 20:35] woodbe commented on #239
Yes, but there isn't any requirement there to specify how it is reported, or even what a score means, it is more of a "the vendor needs to explain their criteria", not a "the vendor must score it this way". Generally that is all handled internally to the system and not reported out, and it isn't clear why that would be meaningful if it doesn't follow a standard (like the NFIQ), unless you know a l

[2020-02-03 21:12] #222 closed

[2020-02-04 08:37] n-kai commented on #241
_so what if that was 80% Japanese men between 30-50 and this was reported as such. Would this mean they fail?_
No, the SD requires 1) developers to report demographic info (i.e. age, gender and ethnic origin) in the performance test document and 2) evaluator to check the required info is actually described in the test document.

We discussed this issue with Japanese vendors in the past. They said

[2020-02-04 08:49] n-kai commented on #223
I agree 1st option. Originally bio PP was developped to be used for generic biometric system such as border control where we have admins but we shifted our focus to computer device so we don't need to define admin anymore.

[2020-02-04 09:29] n-kai commented on #237
I think that there are live-monitoring or disk analysis or forensic tools for windows that can identify any files that newly created, updated or removed. The evaluator can use such tools to find new or update files including temporary ones during biometric verification.
I also believe that there are memory analysis tool that identify which process updates which memory address but it may be time co

[2020-02-04 10:12] n-kai commented on #238
@gfiumara
We can add new text about version of document as you suggested. However, PAD only re-evaluation is out of scope as you mentioned because not all CC schemes allow such partial re-evaluation.

@woodbe
I will update the face toolbox following your suggestion.

[2020-02-05 14:04] #225 closed

[2020-02-07 21:25] woodbe opened #255 "review all internal links for consistency"
some things that should be linked were not ([CC2], [CC3], maybe more), some things that were linked didn't have [].

[2020-02-11 18:09] woodbe commented on #237
I have reached out to Microsoft. The short answer though is that it is up to the biometric vendor what they do as far as securing the data, so it could be contained within the sensor system or it could be in the normal file system (or maybe somewhere else based on what is available).

My thinking here is that if the sensor drops its stuff into the file system that it doesn't meet our requirements

[2020-02-11 18:24] woodbe commented on #241
@n-kai
What I meant by a standardized format is a blank table that would show the information we would expect to be reported, not to create some new standard. For example, maybe we want to see the following information always reported:

- ethnicity
- age ranges
- gender

So would it be sufficient to just show what the ethnicities are, or do we want to know the numbers associated with each (percent

[2020-02-11 19:29] woodbe commented on #223
I created a PR for this (only towards the beginning). There are not many instances of administrator in the document, but several are potentially problematic.

In the Extended Components Definitions for FIA_MBE_EXT and FIA_MBV_EXT list management options such as setting the TSF configuration data by the admin.

In this use case, there really isn't any management available to the user in general, so

[2020-02-11 20:00] gfiumara commented on #241
I think showing the breakdown as @woodbe suggests is a good first step for full disclosure. Actual numbers can be derived from percentages since number of subjects is reported.

It's hard to pin down, especially considering these are live tests with different subjects and different samples every time. An algorithm developer should be attempting to find such mixes to choose their fixed threshold su

[2020-02-12 08:36] n-kai commented on #223
I think that we don't need to remove management options because Extended Components Definitions for FIA_MBE_EXT and FIA_MBV_EXT should be general so that they can be applicable to more IT product other than a normal computer. This management options are also optional requirement and if the TOE is mobile or laptop, ST authors can skip this management requirement.

[2020-02-12 19:21] #235 closed

[2020-02-12 19:29] woodbe commented on #223
Ok, I can accept that. I have merged the change.

[2020-02-12 19:29] #223 closed

[2020-02-13 08:29] n-kai commented on #241
We can propose the standardized format based on NISTIR 8280 (I went though ISO document to look for such format but I could find it in ISO) and ask developers report demographics based on the format with number of total test subject.

1. Country of birth
Developer has to categorize country of birth of test subjects into following region and report percentage of subjects in each region.

- Eastern

[2020-02-13 09:03] n-kai commented on #237
Level or effort of testing required by PP module should be same as one required by Base PP because assurance level of PP module should be inherited from Base PP. This means that if the base PP evaluation doesn't require evaluator to use live file or memory monitoring, our SD should also follow it (but our SD should ask developers to give more information about how they protect biometric data using

[2020-02-13 14:00] woodbe commented on #210
Based on an email I received from Cybersecurity Malaysia this morning, it appears this is not an issue and that they were unclear about the SEE definition/requirement.

[2020-02-13 14:00] #210 closed

[2020-02-13 14:24] #209 closed

[2020-02-13 15:20] #240 closed

[2020-02-13 15:50] woodbe commented on #237
Based on comments from @The-Fiona look at the PP-Config for MDF (and GPOS) about making sure that the biometric data would be included in any sensitive data searching that is performed (i.e. FPT_AEX_EXT type tests).

[2020-02-13 15:53] woodbe commented on #238
@woodbe will create the new toolbox repositories for the future move.

[2020-02-13 15:59] woodbe commented on #239
The iTC doesn't feel that at this time there is any consistent or qualitative way to report on sample quality that would be useful in an evaluation.

This could be revisited in the future as biometric testing matures.

[2020-02-13 15:59] #239 closed

[2020-02-14 19:11] woodbe commented on #238
These have been created. At the moment I created both a 2D and a 3D repository for face.

[2020-02-14 19:11] #238 closed

[2020-02-14 20:55] woodbe commented on #241
I started to go through with updating the BIOSD and realized that the breakdown shown here is more based on a study and misses several regions that I'm not exactly sure how to break down (since there are similarities):

* Western Europe (everything West of Poland, roughly + Scandinavia)
* North America
* South America
* Australia
* South Pacific

What I'm not sure of here is if Western Europe/Nort

[2020-02-17 06:08] n-kai commented on #241
You can break down countries based on UN country grouping.
https://www.internetworldstats.com/list1.htm#geo

I also thought that the ethnicity was better information to categorize test subjects than country of birth, however I heard that some people don't want to reveal their own ethnicity for privacy reason and there is no internationally accepted criteria to define and categorize population into

[2020-02-18 19:46] woodbe commented on #237
After looking at this specifically for the MDF, I realized it is FCS_CKM_EXT.4 that is what we are looking for. the FPT_AEX_EXT.4 is about kernel vs user space and does not deal with a TEE (or similar). I have created a pull request adding a line about this in the PP-Config.

[2020-02-24 14:50] #237 closed

[2020-02-24 15:22] #241 closed

[2020-02-27 15:18] woodbe commented on #243
Closed based on 2/27/20 call.

Should consider if a more robust test protocol would be useful in later update.

[2020-02-27 15:18] #243 closed

[2020-02-27 15:18] woodbe commented on #242
@n-kai will make a pull request to clarify this and make it clear the vendor must describe their algorithm's symmetric comparison.

[2020-02-27 15:25] woodbe commented on #262
@n-kai will propose some text around this related to not following the vendor instructions for creating good samples (or similar).

[2020-02-27 15:26] woodbe opened #295 "Low sample quality"
The overview for each toolbox should have a section that discusses the expectations regarding low quality samples. While the discussion may not be exhaustive, it should talk about common ways to create low quality samples and how that can be used. This is a corollary to biometricITC/cPP-biometrics#262 to be added into the BIOSD.

[2020-03-04 08:55] n-kai commented on #262
I update the BIOSD with my proposed text. See PR #263

[2020-03-04 18:43] woodbe opened #264 "his/her vs their"
Reading through the PP-Module I see many places (probably most) that use "his/her" and a few that use "their" when discussing what to do (i.e. the user would use his/her biometric).

I want this to be consistent, so the question is what should we use. I see three options:

- his/her
- her/his
- their

I personally usually prefer their as it is neutral and I think reads easier (and maybe today with

[2020-03-04 20:52] woodbe opened #265 "password vs alternative authentication factor/mechanism"
Going through the BIOSD there are a lot of places (about 10, so not a huge number, but still) where it is explicitly stated the user enters a password (or in some cases a PIN, password or other secure method). While we do explicitly define a Password Authentication Factor, we generally talk about an alternative authentication mechanism in the PP-Module, not a password.

What I am thinking here is

[2020-03-05 02:33] n-kai commented on #264
I am not a native English speaker so I will fully agree with any choice you make.

[2020-03-05 02:57] n-kai commented on #265
My suggestion is replacing **password** with **authentication factor** and add the following term to 2.5. Glossary in PP-Module. I use https://www.iso.org/obp/ui#home to define the following term.

**Authentication factor**
**evidence to assert the identity of an individual (e.g. ID card, smartcard, PIN, password)**

[2020-03-05 04:57] n-kai commented on #242
@gfiumara I updated sample-quality branch to address #242

[2020-03-05 21:03] woodbe commented on #265
This works for me. I was working on a full review of everything else and didn't want to get this tied into that update. I will post this tomorrow

[2020-03-06 15:18] The-Fiona commented on #264
I agree that being non gender specific is the way to go.

1. In general we should try to rephrase so that we avoid completely the problem.
2. "They/Their" can work, but is plural and could end up being misinterpreted.
3. Another method is to repeat the noun, IMHO can be messy.
"The User ate his lunch" := "The User ate the User's lunch" (Note in this example using "their" would change the meaning o

[2020-03-06 15:24] The-Fiona commented on #264
Also, using "his/her", "her/his", or even "their" does not include other genders with which folks identify.

[2020-03-12 12:51] #265 closed

[2020-03-12 13:00] #264 closed

[2020-03-12 15:20] #255 closed

[2020-03-12 15:20] woodbe commented on #262
Closed by #263

[2020-03-12 15:20] #262 closed

[2020-03-12 15:21] woodbe commented on #242
Closed by #262

[2020-03-12 15:21] #242 closed

[2020-03-31 17:55] woodbe opened #272 "Attack Potential table"
Attack potential table in the BIOSD

https://github.com/biometricITC/cPP-biometrics/blame/master/4_Methodology/BS_SD.adoc#L1398

does not match the Table 4 in the CEM (page 428).

Our table just goes in increments of 10, while the CEM has a different set of levels. I think we should be using the CEM as we did not create our own listings. It looks like only the values are wrong.

Also, the value ca

[2020-03-31 18:06] woodbe opened #273 "Attack Potential (again) for eye"
As I was going back through the BIOSD and CEM to update the eye toolbox properly, I realized that for the eye, all the tests, by how we have defined the attack calculations generally, end up being at least a 12 (Enhanced-Basic) and some at 16 (Medium).

We have defined in the BIOSD that iris (or eye) should be considered a difficult modality to get, which gives it 8 points on its own. We have also

[2020-04-01 07:19] n-kai commented on #272
Technical community can define their own table considering number of factors and replace CEM Table 4 with new one. For example, see supporting doc 1) developed by Smartcard community. They also replace CEM table 4 with Table 11 in 1).

1) Application of Attack Potential to Smartcards
https://www.sogis.eu/documents/cc/domains/sc/JIL-Application-of-Attack-Potential-to-Smartcards-v2-9.pdf

This table

[2020-04-01 07:37] n-kai commented on #273
_So my question is does this mean that for iris (and maybe vein since that is also marked as difficult for window of opportunity) that they test to resist Enhanced-Basic instead of Basic?_

I am trying to create tests for vein that are within Basic. Like face, we can take a high resolution photo of palm or finger, then enhance blue/green in the image with photo editing software to extract vein pat

[2020-04-01 10:48] woodbe commented on #272
@n-kai I knew we could define one, I just wasn't sure where this one had come from (since I didn't remember talking about how we came up with the numbers). I do think we should make a reference to the ISO in the beginning of this section so it points to us building on work being done, and not completely on our own.

I don't see though how to get iris down below 10 unless we say that it is not diff

[2020-04-01 10:58] woodbe commented on #273
I don't see though how to get iris down below 10 unless we say that it is not difficult but moderate Window of Opportunity to get the iris (which I don't think is right, I do think that one is difficult), and that is 8 points right there. I am not sure that realistically we can define vein or eye) to be only moderate difficulty.

Would we really have a problem if we left it to the modality to dete

[2020-04-09 07:28] n-kai commented on #272
I reviewed **Window of opportunity (Access to the TOE)** in BIOSD and I think that it should be modified as follows. Getting iris or vein image is easier than capturing detailed 3D face image as shown in https://www.artec3d.com/3d-models/face.

**Without notice (0)**
Samples for making an artefact can be collected without any contact with an enrolled subject. For example, 2D face image uploaded on

[2020-04-09 14:23] woodbe commented on #272
@woodbe will create a PR to add a reference to BEATS and also our own expertise in section 9 so it will be noted where this information is coming from.

[2020-04-09 14:32] woodbe commented on #272
@woodbe will take the proposal from @n-kai and add it to the BIOSD and also update the toolboxes accordingly.

[2020-04-21 15:10] woodbe commented on #272
I have also made the changes to the eye and face toolboxes for the table updates.

[2020-04-21 16:25] woodbe commented on #273
Based on the changes in #272 and #274, this is being closed

[2020-04-21 16:25] #273 closed

[2020-04-23 14:21] #272 closed

[2020-05-04 17:04] ccolin318 opened #280 "[cPP CHANGE]"
**What is the change request for the cPP/PP-module? Please describe.**
A clear and concise description of what the change is. This could be a problem with the existing document or just a new request

Comment based on MITRE's review:

"Add glossary entries for "Biometric Enrolment," "Biometric reference," and   "Biometric capture subject". These terms are used in the cPP   but are not defined."

[2020-05-04 17:08] ccolin318 opened #281 "[SD CHANGE]"
**What is the change request for the BIOSD? Please describe.**
A clear and concise description of what the change is. This could be a problem with the existing document or just a new request

Comment from MITRE's review:
"Need to add PAD, NFIQ, FMR,   FNMR, FAR, and FRR to the list of acronyms.
These terms are used throughout the document but are not spelled out in the list of acronyms."

[2020-05-04 17:19] ccolin318 opened #282 "[cPP CHANGE]"
**What is the change request for the cPP/PP-module? Please describe.**
A clear and concise description of what the change is. This could be a problem with the existing document or just a new request

Comment from MITRE's review:
"Only one threat is defined; T.Casual_Attack which is defined as   a "zero-effort imposter attempt".

More deliberate attacks are within the realm of possibility and shoul

[2020-05-04 19:48] woodbe commented on #282
So we specifically have T.Casual_Attack, and not any sort of intentional attack, though I can't find anything specific in the notes for it, but it basically comes down to these:

- Without requiring PAD testing (which this PP-Module does not), it is tough to say that there is much you could do beyond the casual attack to bypass authentication if you are limited solely to your own biometric (i.e. y

[2020-05-05 02:49] n-kai commented on #282
The following threat (**T.Presentation_Attack**) was defined in the previous version of the cPP but we agreed to remove this because one CC certification body insisted that the any TOE can't resist the presentation attacks even from attackers who possess basic attack potential. I am not sure whether they are right or not but removing the T.Presentation_Attack and making the PAD optional was the on

[2020-05-07 13:17] gfiumara commented on #282
I'd agree with @woodbe that the casual, zero-effort, pick-up-a-lost-phone-and-unlock attack is about all you can do without the optional presentation attack detection portion. Twins in a face unlock scenario might suffer from the casual attack, but this is otherwise a test of the FAR of the matching algorithm. An "intentional attack" is testing both PAD and FAR.

[2020-05-07 14:16] #280 closed

[2020-05-07 14:18] #281 closed

[2020-05-07 14:26] woodbe commented on #282
Closing based on discussion on 5/7 call.

[2020-05-07 14:26] #282 closed

[2020-05-15 18:34] woodbe commented on #108
Closing as the initial draft has been posted into the develop branch and future issues and PRs can be opened directly from that.

[2020-05-15 18:34] #108 closed

[2020-05-15 18:37] woodbe commented on #181
Closing as this is no longer current

[2020-05-15 18:37] #181 closed

[2020-05-15 18:37] woodbe commented on #150
Closing as the issue is no longer current.

[2020-05-15 18:37] #150 closed

[2020-05-15 18:39] woodbe commented on #93
This has since been handled in v1.0

[2020-05-15 18:39] #93 closed

[2020-05-15 18:40] woodbe commented on #94
This has been answered in v1.0

[2020-05-15 18:40] #94 closed

[2020-05-15 18:43] woodbe commented on #109
Should have been closed earlier.

[2020-05-15 18:43] #109 closed

[2021-03-02 14:42] woodbe opened #300 "[NIAP] PP-Module must identify all of the Base-PPs"
Section 3.2 - The PP-Module must identify all of the Base-PPs/PP-Module Bases in the PP-Module; it can't be part of the PP-Configuration. The current structure would fail ACE_INT.1.1C and ACE_INT.1.2C in r5, and ACE_INT.1.1C, ACE_INT.1.3C, ACE_INT.1.4C, ACE_INT.1.5C, and ACE_INT.1.9C in 15408-3.

[2021-03-02 14:43] woodbe opened #301 "[NIAP] Scope specification"
Section 3.3.3, p. 9, before figure: This is really a general comment, but the way that TOEs will be evaluated against the requirements described in this PP-Module will be in the context of a PP-Configuration, which will include the requirements of the base PP. So, it's not correct to say "above security functions [are] out of scope", because during the TOE evaluation those requirements will be in

[2021-03-02 14:45] woodbe opened #302 "[NIAP] Consistency rationale"
Chapter 4: As with the identification of the Base-PP/PP-Module Base, the consistency rationale cannot be contained in the PP-Configuration. The PP-Configuration does not have a "place" for this information (see sections B.14.1 and B.15.1 in CC3.1r5 Part 1). This fails the entire ACE_MCO.1 SAR in both r5 and 15408-3.

Related to #300.

[2021-03-02 14:45] woodbe opened #303 "[NIAP] Assumptions"
Section 6.3, Assumptions: A PP-Module will only be evaluated with its base PP/PP-Module Base, so the assumptions section should take that into account. There should not be assumptions on the base PP because those requirements will be evaluated when the TOE is evaluated against the PP-Configuration, and so the ST should not have those assumptions included. Recommend deleting the first two assumptio

[2021-03-02 14:46] woodbe opened #304 "[NIAP] Application notes not normative"
Section 7.1, 7.2 (throughout): Application notes cannot be normative; therefore, there should be no "shall" statements in application notes. Further, the objectives are merely high-level statements of TOE functionality applicable for the corresponding threats/OSPs/assumptions; they are not requirements either. So, the use of "shall" in these statements is also not recommended.

Section 8 (througho

[2021-03-02 14:51] woodbe opened #305 "[NIAP] FIA_MBV_EXT.1.1 application note"
Section 8.2.3, FIA_MBV_EXT.1.1, application note 13: First, the application note is mis-written (we think), because it tells the ST author they must select all modalities for which Evaluation Activities are defined. We think the intent is that the ST author may only select modalities for which there are evaluation activities, but that's not what the application note says.

However, more of a conce

[2021-03-02 14:52] woodbe opened #306 "[NIAP] FIA_MBV_EXT.1.2 application notes"
Section 8.2.3, FIA_MBV_EXT.1.2, application note 14: This may be more of a endorsement statement thing, but it seems that the ST author is free to put anything they want into the assignments that essentially deal with how well the TOE works. This is not desirable from a "service-to-our-users" perspective. If two TOEs have a certificate and one TOE complies with NIST recommendations on values and t

[2021-03-02 14:53] woodbe opened #307 "[NIAP] Section 8.3 application notes"
Section 8.3 (application notes 16, 17, 18): These notes are written as if the Base PP is in the operational environment. This is not the case; the functions of the Biometrics subsystem will be evaluated along with the functions of the Base PP, and so the application notes, evaluation activities, etc. should be written in that way.

Further, the PP-Configuration is absolutely not the place for thes

[2021-03-02 14:55] woodbe opened #308 "[NIAP] FPT_BDP_EXT.* SEE assurance activities"
Section 8.3, FPT_BDP_EXT.x: These requirements are written with respect to a Security Execution Environment. Since this is a PP-Module, there should be some verification that the Base PP requires a Security
Execution Environment--in this way, the assurance activities can be written in a more objective way.

[2021-03-02 14:57] woodbe opened #309 "[NIAP] FPT_BDP_EXT.3.1"
Section 8.3.3 ,FPT_BDP_EXT.3.1: This comment is more on the SD activity. This activity talks about encryption, and in terms of NIAP PP-Modules and PPs we require any cryptographic requirements to be specified. The SD currently indicates that the vendor gives a list of cryptographic mechanisms used--this is not acceptable. This PP should either specify what is required (ideally through either optio

[2021-03-02 14:58] woodbe opened #310 "[NIAP] SD strict guidance needed"
SD (general): There are several items listed (assessment criteria for samples, for example) that are provided by the vendor but used as SD-like guidance for the evaluators. Without strict guidance on what these have to contain, the vendor can write anything. This does not to fit with the objectives of repeatable, consistent evaluation activities for the same requirements.

[2021-03-03 02:00] n-kai commented on #300
@woodbe
this comment refers CC V3.1.5 and 15408. Which should we follow to update PP and SD, CC or 15408 or both?

In the past, Mary said to me that you should follow the CC V3.1.5 not ISO 15408.
If NIAP requires us to follow ISO, please ask which version of ISO 15408 we should follow.

ISO 15408/18045 is currently under revision and FDIS (almost final version) ISO 15408 and 18045 will be publishe

[2021-03-03 02:18] woodbe commented on #300
@n-kai I have requested their guidance on this from them to see what they say.

[2021-03-03 22:20] woodbe commented on #300
The recommendation from NIAP is to follow r5 at this point as the CCRA will still have to manage the transition from r5 to ISO, and r5 is approved now.

[2021-03-04 00:06] n-kai commented on #300
OK. My recommendation is as follows.
1. Follow R5
2. If ISO give us more detail information (especially specification of PP module and configuration), follow such information to update our document
3. If there is an inconsistency between the two, follow R5 with notes so that we can update it in the future when ISO is approved by NIAP

[2021-03-09 06:39] n-kai commented on #303
We developed the standalone Bio-cPP (not PPM) at first, and then converted it to PPM for mobile use. All assumptions were defined assuming we were developing standalone PP.

I agree to remove first two assumptions and also propose to remove the last one.
**A.User** can also be covered by MDFPP assumptions (e.g. A.CONFIG in MDFPP) and I don't think that TOE guidance needs to include any additional

[2021-03-09 13:54] #295 closed

[2021-03-09 14:26] #301 closed

[2021-03-09 15:19] woodbe commented on #303
@woodbe will remove the A.User as well

[2021-03-10 06:33] n-kai commented on #300
I updated PPM/PPC/SD in assumption branch to fix this issue (I should have created new branch and created a PR)

[2021-03-10 06:34] n-kai commented on #302
I updated PPM/PPC/SD in assumption branch to fix this issue (I should have created new branch and created a PR)
But need further update (I will do that in April)

[2021-03-19 18:44] woodbe commented on #308
I propose that the FPT_BDP_EXT.2 and FPT_BDP_EXT.3 be removed, and in their place, the MDF requirements FPT_KST_EXT.1 and FPT_KST_EXT.2, respectively, be marked in the PPM as expanded to cover biometric data in the combined TOE. Currently these SFRs in the v3.1/3.2 docs do this (basically if a BAF is used, then these also cover biometric data). These would be added to a "Modified SFRs" section for

[2021-03-22 07:40] n-kai commented on #308
@woodbe
I basically agree with you. I also think that we should update our PPM following the format of latest NIAP PP module that is "PP-Module for VPN Client, Version 2.2"
According to this PPM, "Modified SFR" are those SFR that ST author needs to complete selections and/or assignments in a specific manner in order to ensure that the functionality provided by the mobile device is consistent with

[2021-03-22 14:55] woodbe commented on #308
@n-kai So we could copy them (iterate them) into our PP-Module and do the replacement for the first point. I'm inclined though to modify them to just include biometric data. Currently that is written into the notes, but we could make it explicit, and this should be simple and agreeable.

[2021-03-22 14:57] #303 closed

[2021-03-23 12:36] #302 closed

[2021-03-30 17:50] gfiumara opened #314 "[cPP CHANGE] Promote application note regarding sufficient quality"
**What is the change request for the cPP/PP-module? Please describe.**

Application note:

I am thinking this application note should be appended to FIA_MBE_EXT.2.1. I think it enhances the overly-ambiguous "sufficient quality" and avoids normative language in an application note (#304).

**Describe the solution you'd like**

This also promotes the MAY to a SHALL.

**Additional context**
See also

[2021-04-02 18:57] ccolin318 commented on #305
There seems to be 3 issues wrapped up in this comment:
1) The SFR should not allow for selections where there are no EA's defined to aid in repeatability etc. (therefore, the selections themselves may need to be updated and the "other modality" assignment removed)
2) The application note needs to be reworked to be more clear. (this seems like an easy fix)
3) The EA defined in the SD is not strict

[2021-04-06 13:55] woodbe commented on #314
I think we may have taken this from ISO work (I remember we took SFRs from that early on, I don't fully remember the provenance though). That said, we could adjust the SFR to be something more like:

From there we could adjust the app note to clarify that the ST author could either point to a specific standard being used or to define their internal standard. Maybe this is a little less ambiguous (

[2021-04-15 14:34] woodbe opened #316 "base PP vs Base-PP"
So we have an inconsistency I would like to resolve during the update to v1.1. In the PP-Module I see that we have "Base-PP" to reference the MDF (or whatever), while in the SD we have "base PP".

NIAP is using Base-PP, though I could swear that I had this discussion a long time ago with @The-Fiona (probably in the iTC Team Tools, though I can't find it in any issues off hand) that it should be "b

[2021-04-15 18:36] woodbe commented on #316
(From @The-Fiona)

The current CC drafts and the forthcoming ISO revision differ.
The current CC I think mostly uses the capitalized form, with excursions into lower case. Ditto the hyphen!

The consistent term in the new ISO revision is

3.13
base Protection Profile
base PP
Protection Profile specified in a PP-Module used as a basis to build a PP-Configuration
3.14
base PP-Module
PP-Module specif

[2021-04-15 18:37] woodbe commented on #316
My thinking is that we use the ISO term of "base PP" simply because they have been consistent about it, not for any other reason. Does anyone have a different thought? Ensuring that we are consistent will make it easier to update later if we need to.

[2021-04-15 19:57] woodbe commented on #316
And then another person I asked thinks we should use "Base-PP" as NIAP does, and points out that this is in R5, so maybe we should go with that. I just want to make sure we are consistent, not which one we use.

[2021-04-15 20:08] gfiumara commented on #316
We use ISO spelling (e.g., "enrolment"), so would suggest ISO's "base PP," but much like @woodbe, I couldn't care less as long as it's consistent.

[2021-04-15 20:14] woodbe commented on #316
@gfiumara I had assumed the spelling was actually because we were supposed to be using the King's English (or UK or something along those lines), and not because that was ISO, so I didn't know that.

The only reason I would probably lean to the Base-PP at the moment is that it is in R5 which is the current standard while the ISO will not be released until later this year (and it isn't clear how mu

[2021-04-15 20:15] woodbe commented on #314
The current requirement in the MDF reads as this:

There is a similar requirement for verification (which we will need to change here also).

I think the big thing here is that for the MDF, this is an objective requirement, so the vendor can select it as needed, while we make it mandatory, and so need to provide a means for specifying something. The issue, as I see it, is that a vendor may not act

[2021-04-15 20:16] woodbe commented on #304
I'm closing this as the remaining issue for this is in #314

[2021-04-15 20:16] #304 closed

[2021-04-16 11:17] gfiumara commented on #316
@woodbe I may have made that assumption myself, but enrolment is from [ISO 2382-37](https://www.iso.org/obp/ui/#iso:std:iso-iec:2382:-37:ed-2:v1:en) ("Vocabulary - Part 37: Biometrics").

[2021-04-16 15:17] woodbe commented on #306
So the simplest answer off hand is to provide an upper boundary on the acceptable criteria (this is what NIAP has done). I set the values to 1:1000 FAR and 10% FRR as these should be "easy" to meet and shouldn't cause any problems, but do set a minimum.

By comparison, FIDO is now requiring 1:10000 and 5% (though I thought it was supposed to be 7%, it may be that there are some cases where 7% is a

[2021-04-16 21:08] gfiumara commented on #306
1. Did we define a minimum number of subjects somewhere? Let's be sure that measuring FMR @ 1:1000/1:10000 aligns statistically with this.
2. FNMR < 10% is table stakes at this point. I'd at least match FIDO in this respect.

[2021-04-20 12:24] ccolin318 commented on #316
I am also leaning towards Base-PP (but I tend favor the NIAP way of doing things).

[2021-04-20 13:16] gregott commented on #316
I am probably the least knowledgeable on this topic of anyone in this group.  So take my opinion with the appropriately sized grain of salt.  I think if our documents are more closely associated with NIAP documents, then be consistent with how NIAP does things.  On the other hand if our document is primarily associated or belongs with ISO documents, then use ISO conventions.

[2021-04-20 13:33] woodbe commented on #316
So I think the strongest argument either way is that CC 3.1R5 has Base-PP and is the current spec. The ISO version is still in draft, should be published by the end of the year (though no guarantees), and even after that still needs to be accepted by the CCDB as the approved version for it to take precedence in terms of mutual recognition as the "current" version. If/once the ISO version is accept

[2021-04-20 14:14] woodbe commented on #316
@woodbe will make a pull request with the change to Base-PP across all the docs.

[2021-04-20 14:43] woodbe commented on #306
@n-kai will review the SP800-63 draft document and provide some further comments/updates regarding the final FAR/FRR values.

1:10K seems good, but not certain at this point (NIST seems to be pointing in this direction, but isn't finalized yet). FRR below 10% would be preferred, the question would be how low, 5% vs 7%.

[2021-04-20 16:27] #300 closed

[2021-04-20 16:27] #305 closed

[2021-04-20 16:27] #307 closed

[2021-04-20 17:49] woodbe opened #323 "Define confidential TSS document"
Based on a discussion in #318, the SD (and probably the PP-Module) needs to have a description of a confidential TSS document. The idea is to provide an acceptable place for a vendor to document needed information to meet the SFRs, but to protect it from public release. This document would only be made available to the lab and validating scheme.

This would be modeled on the Key Management Documen

[2021-04-27 19:35] woodbe opened #324 ""secure" sensor input SFR"
I was thinking about our SFRs and the changes we are making for the MDF, and one thing that I thought of was that we don't have some sort of secure path between the input sensor and the processing. This would probably be something along the lines of:

This could be a new FPT_BDP_EXT.2 requirement.

The idea would be that the OS must not have access to the path between the sensor and the separate e

[2021-05-04 06:34] n-kai commented on #306
I checked relevant standards that define upper boundary of acceptable biometric performance (I am also checking the latest ISO SC37 standards but I believe that ISO standards don't specify such boundary). I will propose the minimum error rates (i.e. FAR/FRR and FMR/FNMR) that can meet all those standards or guidance by the next meeting (18th May). If I can't find any guidance in the ISO standards,

[2021-05-04 06:49] n-kai commented on #324
_The idea would be that the OS must not have access to the path between the sensor and the separate execution environment_

I agree with you. I defined FPT_BDP_EXT based on "Android 10 Compatibility Definitiony" *1) and I originally planned to develop evaluation activities referring  **implementation guidelines** *2), however this is the guidelines for android and I am not sure they are also appli

[2021-05-04 12:35] woodbe commented on #324
@n-kai so I know that iOS devices can meet this requirement (they establish encrypted channels between components like the biometric sensor to the Secure Enclave), so as long as we don't get too specific, we should be OK. As for other devices, this is basically what we ran into with the OS integration, that there wasn't an SEE to define to use, so we may be better off here with this new requiremen

[2021-05-04 12:40] gfiumara commented on #306
Note: NIST internal pre-release draft/discussion of 800-63B says, "FMR of 1 in 10000 or better."

[2021-05-04 13:48] n-kai commented on #324
@woodbe
_Originally I had expected we could rely on the MDF to take care of this, but clearly the MDF isn't specific enough for this particular issue._

I assumed that DSC cPP would extend the MDF PP to cover the SEE or trusted pass (but I am not sure whether or not the vendors are happy to use this cPP) . But if we define SFR and evaluation activities for SEE or trusted pass, there may be some ov

[2021-05-04 13:55] woodbe commented on #324
Yeah, DSC would technically take care of it, but I'm not sure it is going to be widely used in the MDF world at this point (it may, but I don't know). I wouldn't worry about a potential conflict unless we are going to expect to use it right now, since we can always add similar adjustments for DSC as we will for MDF if we go there.

[2021-05-04 14:28] woodbe opened #325 "BMD descriptions"
Add explicit splits between TSS and BMD for assessments

[2021-05-04 14:48] #308 closed

[2021-05-04 14:48] #309 closed

[2021-05-04 14:48] #314 closed

[2021-05-04 16:36] woodbe commented on #325
These requirements likely need to "allow" the BMD usage:

FIA_MBE_EXT.2.1
FIA_MBE_EXT.3.1
FIA_MBV_EXT.1.2
FIA_MBV_EXT.2.1
FIA_MBE_EXT.3.1

FPT_BDP_EXT.2 (proposed in #324) will likely also need to be added to this list.

[2021-05-14 12:49] #323 closed

[2021-05-17 18:55] woodbe commented on #306
NIAP may come back with a different answer later (based on further input), but at this point they like the 1:10K value and I expect they will stick to that for the minimum number as NIST is saying. So I think we are safe going with 1:10K or higher.

[2021-05-18 10:35] n-kai commented on #306
What about confidence level? If we select 1:10K (0.01%) for FAR/FMR and follow rule of 3 (95% confidence level), vendor needs 174 test subjects if cross-comparison of ordered pairs (i.e. cross match both (A's finger template - B's finger sample) and (B's finger template - A's finger sample)) is allowed or 246 test subjects if not allowed, and all imposter transactions/attempts must fail to achieve

[2021-05-18 11:20] woodbe commented on #306
Well FIDO went with an 80% confidence interval. I didn't actually ask NIAP on that question (I'll send it now), but I think 80% is a more realistic number in terms of performing evaluations within a reasonable time/cost.

[2021-05-18 12:09] n-kai commented on #306
Thank you, I will update PPM and SD based on the response from NIAP.

[2021-05-18 12:42] #316 closed

[2021-05-18 14:41] woodbe commented on #324
Check the GP TEE PP-Module for Biometric subsystems to get ideas for defining the SEE

Consider FPT_AEX_EXT.4 from MDF as possible solution

[2021-05-18 14:46] woodbe commented on #325
We MUST define the minimum expected TSS portion in the SD.

[2021-05-18 18:27] woodbe commented on #324
So I forgot to bring up the FTP_TRP.1 on the call (I noted it above after), and that seems to be the best option out of the GP TEE-Bio PPM. I don't like the FDP_ACC.1/FDP_ACF.1 combination as I think that brings in a lot of extra stuff, but I also don't see how that would work in the basic setup we are talking about. That would have to be based on some combination of MDF and Bio, and I'm not sure

[2021-05-19 15:11] woodbe opened #328 "[NIAP] Complete MDF justifications"
The PP-Module needs to have the MDF integration justifications completed.

These sections are marked with TODO notes.

[2021-05-24 16:57] woodbe commented on #306
@n-kai after speaking with NIAP and NIST today, here is a summary:

- 1:10K minimum is good for now, but would like to know about higher (as time goes on or as industry is ready)
- 80% confidence interval is acceptable at this time (and likely going forward), with the expectation that the minimum FAR value is likely to increase, and keeping the confidence interval the same has some benefits. Also,

[2021-05-24 17:25] woodbe opened #331 "FAR minimum value"
At the moment we are looking at setting a 1:10K minimum allowed FAR value for any validated biometric. A question though is whether we should specify a higher number or not. Based on how things would look right now, at an 80% confidence interval, we would be looking at minimum subject numbers along the lines of those specified here in the FIDO Alliance biometric spec:

https://fidoalliance.org/spe

[2021-05-24 19:28] gfiumara commented on #331
One thing to consider might be the cost to the vendors once the FAR is raised. Using the FIDO numbers for the two FAR above, the number of subjects increases by 145. Assuming subjects are recruited for the test with a $100 stipend, the test will now cost a minimum of $14,500 more just for subjects, let alone nearly doubling the amount of time for informed consent, data collection, etc.

Similarly,

[2021-05-27 06:55] n-kai commented on #331
I propose 1:10K with rule of 3 for FAR/FMR (**_FAR/FMR SHALL meet the requirement of less than 1:10K for the upper bound of a 95% confidence interval_**) because the following reasons.

**Minimum number of participants**
Number should be 245 so that SMEs (Small and medium-sized enterprises) whose number of employees is a few hundreds can conduct the performance testing using their employees and th

[2021-05-27 07:22] n-kai commented on #306
@woodbe

**80% confidence interval**
As explained in #331, DEA require 95% confidence and iBeta (*1) follow this confidence level to estimate the FMR. So if we want to maximize the value of CC certificate, we should take 95% confidence. But I don't know what DEA requirements mean to mobile vendors. If it's not so important to mobile vendors, 80% is fine for me.

 **FRR**
If the number of participa

[2021-05-27 13:45] woodbe commented on #331
@n-kai I'm not sure we need to worry about the DEA requirements as that would seem to be for more than the current mobile devices support (the idea that you are specifically you logging into the prescription app isn't something that is known on the mobile device since we only know that a template has been made, but if you had 2 people add templates to share a device, you have no way of knowing whi

[2021-05-27 19:58] woodbe commented on #306
@n-kai is there a reason to use 80% CI for FRR and 95% for FAR? I would have thought you would want both of those to be the same (but statistics is certainly not my forte).

[2021-05-28 03:59] n-kai commented on #306
@woodbe

**FAR**
- FAR is related to security issues so customers asks vendor to measure it with high confidence (i.e. 95 CI) like DEA.
- I believe that vendors don't see any false acceptance with 200 or 300 participants (and should not observe any false acceptance with a few hundreds of test subject). This means that vendors have to follow the rule of 3 (i.e. 95% confidence interval).

**FRR**
-

[2021-06-01 11:46] The-Fiona commented on #331
There are definitely practical considerations, and especially (currently) if COVID controls about gathering folks together in one place are applicable.

The ability for all (including SMEs) to provide the results with a reasonable amount of resource is a very important consideration.

As technology improves, and better FAR/FRR rates are achieved I am wondering about the practicality of relying onl

[2021-06-01 13:17] woodbe commented on #331
from @iyliaR

Regarding the fixing a minimum value to 1:10K. I am voting for this.
Below are some of my thoughts.

1.Latest Android requirement are fixing the FAR value at 1:50K and I believe iOS have done earlier . However, the current standards (mentioned by N-Kai) still recommend at 1:10K. I would prefer it to be standardize with the standards as it is easier to reference in testing.

2. I assu

[2021-06-01 13:19] woodbe commented on #331
So it would seem overall that we are in agreement about 1:10K being the minimum, and it would be up to the vendor to go higher if they want, but that is optional.

[2021-06-01 14:33] woodbe commented on #306
the proposal from @n-kai about the FAR and FRR was agreed to on the 6/1 call

[2021-06-01 14:40] #331 closed

[2021-06-01 14:53] #325 closed

[2021-06-07 08:18] Qdigital opened #332 "[IT REQUEST]"
**Before submitting your request, please check https://biometricitc.github.io/TD/tech-dec.html for the current set of Technical Decisions.**

**Requesting Organization:**
Provide contact information regarding the request.

**Status:**
If your issue arises from a currently active CC evaluation then please tick the ‘On-going certification’ box, submit the completed request through your Certification

[2021-06-07 17:36] #332 closed

[2021-06-10 12:30] woodbe commented on #310
@ccolin318 while there are several clear sections around the assessment criteria, do you have any other specific areas where you think we should look hard (I think I saw a few minor ones, but right off the top of my head I don't recall them).

[2021-06-11 11:29] #306 closed

[2021-06-11 11:58] #328 closed

[2021-06-11 11:58] #324 closed

[2021-06-11 19:09] woodbe opened #339 "Point to quality paper vs ask vendor"
https://github.com/biometricITC/cPP-biometrics/blame/b9a70e87cfe401d0beb66a60ab01884e999a2676/Supporting%20Documents/BS_SD.adoc#L520

I am thinking that maybe this should point to a quality paper instead of telling the evaluator to ask the vendor about creating low quality samples. The point of adding the paper was to provide guidance about quality, so it would seem that based on that the evaluato

[2021-06-11 19:16] woodbe opened #340 "File list and crypto?"
https://github.com/biometricITC/cPP-biometrics/blame/b9a70e87cfe401d0beb66a60ab01884e999a2676/Supporting%20Documents/BS_SD.adoc#L600

While I get this description, it seems like we don't have anything about where the file list is supposed to be documented or where it comes from. Is this something the vendor provides (the filenames or filename standard used for generated files) or something the lab

[2021-06-11 19:18] woodbe opened #341 "Vein quality reference"
I realized while looking at the quality section that we don't have something specifically for vein. I found this link which I think will probably work, but am not certain:

https://link.springer.com/chapter/10.1007/978-3-030-27731-4_1#Sec21

I think we should add this to the list of references and then set mentions to the quality docs to point to both the current one as well as this one.

If there

[2021-06-11 19:25] woodbe opened #342 "New artefacts test plan"
https://github.com/biometricITC/cPP-biometrics/blame/b9a70e87cfe401d0beb66a60ab01884e999a2676/Supporting%20Documents/BS_SD.adoc#L904

So we originally wrote this with an expectation that a lab may add a new set of tests and use them, pretty much as part of the evaluation and then they would need to submit them. Given that we wrote a process for adding new procedures to an existing toolbox, I think

[2021-06-11 19:29] woodbe commented on #342
If this is kept, this section needs to be rewritten:

https://github.com/biometricITC/cPP-biometrics/blame/b9a70e87cfe401d0beb66a60ab01884e999a2676/Supporting%20Documents/BS_SD.adoc#L916-L931

it uses the assumptions we removed from the BIOPPM, but if it is removed, then this isn't a concern.

[2021-06-11 19:44] woodbe opened #343 "IAPAR defined in SFR"
As we have been adding/adjusting the FAR/FRR claims to be more explicit, I am thinking we should probably do the same for the MBE/MBV_EXT.3 requirements.

FIDO uses the IAPAR (Impostor Attack Presentation Accept Rate) from ISO-30107-3 (we have part 1 listed in the PPM and part 3 in the SD) and they specify a limit of 7% (though in the upcoming version they will actually relax that some to 15% as t

[2021-06-11 20:04] woodbe commented on #310
I haven't started writing this section yet, but I am looking at the "Developer’s performance report and its assessment strategy" section as the basis for it. I don't think we will need to get into individual details at this point for each modality, but we don't have an outline of what we expect listed anywhere.

My thought really is that we take the Biometric quality paper we have linked and put t

[2021-06-14 07:10] n-kai commented on #310
@woodbe
What kind of evaluation activities should be defined in the BIOSD? Are you thinking of the following activities?
- The evaluator needs to review the BMD to check that TOE's quality scoring algorithm conforms to those standard or technical paper. (However, TOE's quality scoring algorithm may be customized and evaluator may see some deviation from those standard or paper)
- The evaluator nee

[2021-06-14 07:24] n-kai commented on #310
@woodbe
_Does anyone have any thoughts about this approach? I will try to complete it by the end of next week._
I agree with your direction and don't have any other questions so please go ahead and create the PR.

[2021-06-14 07:25] n-kai commented on #339
@woodbe
My concern is that such quality papers or standards may not exist for some quality scoring algorithm that the TOE implements. So I might add additional text to your PR.

[2021-06-14 08:45] n-kai commented on #341
@woodbe
I need to ask our vendor that was certified under our scheme so please give me some time to check this.

[2021-06-14 09:11] n-kai commented on #340
@woodbe
Description you mention is evaluation activity for FPT_BDP_EXT.3 (The TSF shall not store any plaintext biometric data outside the security boundary of the Secure Execution Environment) and we received the following comment from NIAP on evaluation activity for FPT_BDP_EXT.3)

_Section 8.3.3 ,FPT_BDP_EXT.3.1: This comment is more on the SD activity. This activity talks about encryption, and

[2021-06-15 05:07] n-kai commented on #342
@woodbe
I think that this section should be kept as an evaluation activity so that evaluator can create ETR based on this description, and agree to modify text to remove assumption.

_the lab should look at the beginning of the evaluation for new tests that aren't in the current toolbox_
I fully agree with this. In our scheme, both evaluators and validators should agree with vulnerability test pla

[2021-06-15 08:47] n-kai commented on #343
30107 doesn't require to specify confidence intervals but define the following.
30107-3 Biometric presentation attack detection — Part 3: Testing and reporting
Require to report sample size and error rate for each PAI series without confidence interval
30107-4 Biometric presentation attack detection — Part 4: Profile for testing of mobile devices
Define minimum number of PAI series etc for mobile

[2021-06-15 12:24] woodbe commented on #341
@n-kai I have added this reference for now, but we can add others as well.

[2021-06-15 13:08] woodbe commented on #340
@n-kai So FPT_BDP_EXT.3 was changed to focus on the the runtime processing instead of storage, and storage is handled by FPT_KST_EXT.1, which is part of the MDF. So I am not sure that we still need to have the requirement about crypto because that would be handled as part of the FPT_KST_EXT.1 and so not one of our SFRs.

[2021-06-15 13:22] woodbe commented on #343
Since PAD is optional here, I don't think we need to worry about the Class 1, since if the IAPAR/SAR is that poor, they probably wouldn't try to add those claims. So I think we are OK specifying something more more restrictive. So the markers for Android and FIDO sort of match (which is probably why FIDO has been updating to make those changes as well). If we specify something like 15% or lower, t

[2021-06-15 13:59] n-kai commented on #340
@woodbe OK, we don't need to pointer to crypto requirement in MDFPP now and we will come back this issue again if NIAP make the same comment again.

[2021-06-15 14:45] woodbe commented on #342
@woodbe will update the document to move the new artefact out to a separate toolbox doc. Process will include an IT-like review with a 4-6 week timeline for initial approval of the artefact update (or rejection if needed).

[2021-06-24 18:14] #339 closed

[2021-06-24 18:14] #341 closed

[2021-06-29 15:22] #310 closed

[2021-06-29 15:23] #343 closed

[2021-06-29 15:23] #340 closed

[2021-06-29 15:23] #342 closed

[2021-09-07 18:38] woodbe opened #358 "NIAP response for v1.1"
This is just for holding the NIAP response from the review of the v1.1 public review draft 1.

[2021-09-07 18:39] woodbe commented on #358
NIAP completed its review and had no specific comments or concerns. We believe everything was adequately addressed. To address the iTC's specific questions:

FIA_MBV_EXT.3 - 15% is an acceptable limit

FPT_BDP_EXT.1 - No suggestions for evaluation that isn't a documentation exercise.

Biometric Sample Quality Assessment - Seems like a reasonable take at addressing this issue.

[2021-09-07 18:39] #358 closed

[2021-10-05 17:36] woodbe opened #362 "Verify versions/dates in all docs"
Make sure that all date and version listings in the docs are updated as appropriate at the time of approval for v1.1PRE.

[2022-05-11 14:53] xahun opened #367 "[cPP CHANGE]"
Supporting Document v1.1 Section 1.3 - this section forgets to mention that EAs should be cost effective and practical.  My concern is that this is often forgotten and should always be considered and is worth mentioning.

[2022-05-11 14:57] xahun opened #368 "Supporting Document v1.1 Section 2.3.2 FIA_MBE_EXT.2"
Supporting Document v1.1 Section 2.3.2 FIA_MBE_EXT.2 - This test requires some product, other than the one being tested, to be developed for the purpose of testing. The access required for the testing seems rather invasive and I wonder if it would always be possible to get access to required data in what might be separate and secure internal operating environments. This possibility should be addre

[2022-05-11 14:58] xahun opened #369 "Supporting Document v1.1 Section 2.3.3 FIA_MBV_EXT.1"
Supporting Document v1.1 Section 2.3.3 FIA_MBV_EXT.1 - Like the quality assessment report , it seems like the performance report should require specialized expertise to evaluate and it is not clear that should be in the domain of CC evaluators in general.  Like other modern CC packages, the activities and expectations should be broken out into reasonable chunks suitable for objective performance.

[2022-05-11 14:59] xahun opened #370 "Supporting Document v1.1 FPT_BDP_EXT.1 Section 2.4.1.7.1 - Impossible Test!"
Supporting Document v1.1 FPT_BDP_EXT.1 Section 2.4.1.7.1 "a. Memory scan test" requires 1) the ability to essentially pause the TOE and dump a copy of memory, 2) resume normal operations after the dump, e.g., to perform a biometric function, and 3) the ability to pause and dump memory again.  I don't know about iPhones, but Android phones engineered to dump memory reboot after the dump, so this is

[2022-05-11 15:00] xahun opened #371 "Supporting Document v1.1 FPT_BDP_EXT.1 Section 2.4.1.7.1"
Supporting Document v1.1 FPT_BDP_EXT.1 Section 2.4.1.7.1 "b. TSFI invocation test" - It is entirely unclear how an evaluator might "identify any TSFIs that output plaintext...". Also, the test concludes with essentially "if they cannot find any, no need to do this test" which seems backwards. This test should be recast and start with whatever the condition is (e.g., if the guidance has any TSFIs t

[2022-05-11 15:01] xahun opened #372 "Supporting Document v1.1 Section 2.4.2 FPT_PBT_EXT.1"
Supporting Document v1.1 Section 2.4.2 FPT_PBT_EXT.1  - "The evaluator shall perform functions through the TSFIs that access the templates" for the most part I assume these are the normal UI involving biometrics. How does "The evaluator shall check that the TSFI requires using a NBAF as specified by the ST author."? It seems like we could be more specific here - the evaluator shall attempt all ava

[2022-05-11 15:02] xahun opened #373 "Supporting Document v1.1 Section 6.5"
Supporting Document v1.1 Section 6.5 - it is unclear why this section references the subsection, which is an application note, to define a seemingly required evaluator activity.  It seems the 6.5.1 header and the preceding reference should be removed.  However, this ATE_IND activity seems entirely dependent on optional requirements FIA_MBE_EXT.3 and FIA_MBV_EXT.3and the seemingly mandatory test re

[2022-05-11 15:03] xahun opened #374 "Supporting Document v1.1 Section 6.6"
Supporting Document v1.1 Section 6.6 - it is unclear why this section references the subsection, which is an application note, to define a seemingly required evaluator activity.  It seems the 6.6.1 header and the preceding reference should be removed. Also, the note in section 6.6.1 indicates ATE_IND.1 and it should refer to AVA_VAN.1 instead.  It is unclear whether this activity is dependent on t

[2022-05-11 15:03] xahun opened #375 "Supporting Document v1.1 Section 7.2 ATE_IND.1"
Supporting Document v1.1 Section 7.2 ATE_IND.1 - the identified tests are specifically for FIA_MBE_EXT.3 and FIA_MBV_EXT.3, so they should be moved.  As written it appears that those tests must always be performed, but based on statements found for those requirements, reference to those requirements in this section, and statements in the toolbox introduction it becomes clear these test activities

[2022-05-11 15:04] xahun opened #376 "Supporting Document v1.1 Section 7.3 AVA_VAN.1"
Supporting Document v1.1 Section 7.3 AVA_VAN.1 - ATE_IND tests using the toolbox are essentially AVA_VAN in nature since they are addressing a potential flaw in design rather than an objectively determinable and testable function, so it is unclear why the toolbox is seemingly required twice.  Selecting artefacts that show higher IAPAR seems irrelevant given that ATE_IND.1 testing with the toolbox

[2022-05-11 15:04] xahun opened #377 "Supporting Document v1.1 Section 11.2.1"
Supporting Document v1.1 Section 11.2.1 "The evaluator shall select one week at maximum"...  Does it matter how many TOE devices are being tested?  I assume one week means one person week (i.e., 40 hours) of effort, and maybe that should be clarified.  But the statement should also clarify how multiple test devices might affect the time frame.

[2022-05-11 15:06] xahun opened #378 "General Conformance Claim Accuracy and Consitency"
General Conformance Claim - While there are downloadable PDFs for the module, supporting document, and toolbox overview.  The versions of the module and supporting document are the same.  The version of the toolbox overview is much earlier, but maybe doesn't matter.  My concern is in regard to conformance claims - it seems the module, supporting document, and toolbox content all needs to be unique

[2022-05-16 18:24] woodbe commented on #373
So I think the reason this is broken into subsections has more to do with the expectation that this module could support more than one Base-PP, and so additional text could be added with different subsections that would be targeted to individual Base-PPs.

Given that at the moment we only support MDF, it is probably OK to just remove this for clarity.

(This isn't intended to say anything about th

[2022-05-16 18:24] woodbe commented on #374
So I think the reason this is broken into subsections has more to do with the expectation that this module could support more than one Base-PP, and so additional text could be added with different subsections that would be targeted to individual Base-PPs.

Given that at the moment we only support MDF, it is probably OK to just remove this for clarity.

(This isn't intended to say anything about th

[2022-05-16 19:15] xahun commented on #378
So my concern is that from a NIAP perspective, we claim specifically identified packages, with specifically identified deviations (e.g., specific Technical Decisions) applied.  PDFs provide us a means of having a copy of what we actually used (since using hashes we have found that even PDFs occasionally change unexpectedly without any indication), maybe adocs work, but we'd need to have a way to c

[2022-05-16 20:00] woodbe commented on #378
As for being able to know exactly what version of the documents are used, that is the great thing about GitHub releases. That is a fixed set once it is created. While you can add files to a release, it is not possible to edit the actual content that is generated automatically when the release is created, so what is there (in terms of the adoc files, as those are managed directly by GitHub), is exp

[2022-05-17 14:27] woodbe commented on #368
2.3.4.4b change the "shall" to "should"
2.3.4.4d this should become conditional from the results of 2.3.4.4b

@woodbe to make PR

[2022-05-17 14:28] woodbe commented on #368
also do this for #369

[2022-05-17 14:57] woodbe commented on #371
@n-kai will provide some further explanation about this text for the next call.

[2022-05-18 02:16] n-kai commented on #371
Fingerprint sensor vendors provide the sensor with a SDK that provides interfaces including debug interfaces that can be invoked by a Rich OS and dump raw fingerprint images. Such debug interfaces are necessary during the integration; however, sometimes mobile device vendors apply minimal changes to the SDK and integrate it into the device carelessly without properly disabling such debug interface

[2022-05-18 03:11] n-kai commented on #375
I agree. We changed FIA_MBE_EXT.3 and FIA_MBV_EXT.3 to optional in the cPP at the last stage of development without modifying SD.  Some text should be added under "7. Evaluation Activities for PAD testing" to make clear that these activities are optional and shall be applied if FIA_MBE_EXT.3 or FIA_MBV_EXT.3 are selected.

[2022-05-18 03:27] n-kai commented on #376
SD follows a guidance (Fingerprint Spoof Detection Evaluation Guidance (FSDEG)) developed by BSI (at early stage of cPP development, we had a German editor and followed his advice) to develop evaluation activities for ATE_IND and AVA_VAN.

cPP and SD will be reviewed by CCRA and I want to avoid conflict with BSI.

FSDEG states as follows.

_It is the clear focus of any testing activity conducted i

[2022-05-18 03:34] n-kai commented on #377
"shall" in "The evaluator shall select one..." should be replaced with "should". The reason why this sentence was added is that some iTC members claimed that upper bond of time and effort for testing should be defined in the SD. But SD should not enforce such limit instead SD should show general agreement so that evaluator and developer can share the common understanding about the workload of test

[2022-05-31 13:45] ccparran commented on #370
I copied the SFRs:

FPT_BDP_EXT.1.1
Processing of plaintext biometric data shall be inside the SEE in runtime.
FPT_BDP_EXT.1.2
Transmission of plaintext biometric data between the capture sensor and the SEE shall be isolated from the main computer operating system on the TSF in runtime.

I am concerned that the changes proposed on the last call do not align with the SFR intentions.

Section 2.4.1.

[2022-05-31 14:21] woodbe commented on #373
Add section 5.1.1.5.2 Strategy for ATE_IND between the paragraphs in 5.1.1.5.1

Remove "As explained in the [Chapter 7, Evaluation Activities for PAD testing](https://biometricitc.github.io/v1.1/1.1PRE/SD-BIO-v1.1.html#_evaluation_activities_for_pad_testing), details of PAD testing for ATE_IND.1 are defined in [[Toolbox]](https://biometricitc.github.io/v1.1/1.1PRE/SD-BIO-v1.1.html#Toolbox)." from

[2022-05-31 14:33] woodbe commented on #376
Closed based on discussion that this could need to be reviewed during the initial evaluation if the lines between ATE_IND and AVA_VAN are not completely clear in terms of what should be presented in case other possible attack vectors cannot be determined.

[2022-05-31 14:47] woodbe commented on #377
In addition to the "should" change, add some sort of note that this one week is for a single "sensor" and that testing for multiple sensors/devices does not mean that each one must take a week (parallel testing, reuse of species, etc). So that the evaluator needs to provide enough information about the level of effort to justify the week timeframe.

[2022-06-10 16:08] woodbe commented on #378
So looking at this some more, it really isn't clear what we should do, for several reasons. The first is no one has tried to do something like this (but I don't see how we can not do it this way since the individual toolboxes need to be able to be updated at their own pace, and that is why they are separate from the main docs). The second one is that it isn't clear how to link the Toolbox into the

[2022-06-14 14:06] #367 closed

[2022-06-14 14:06] #373 closed

[2022-06-14 14:08] #374 closed

[2022-06-14 14:09] #375 closed, assigned to woodbe

[2022-06-14 14:11] #377 closed

[2022-06-14 14:57] woodbe commented on #378
Add section 4.4 in the PP-config about PAD conformance

Add Toolbox section about how to find the modality toolboxes and how they are versioned

[2022-06-24 19:18] #368 closed

[2022-06-24 19:18] #369 closed

[2022-06-28 14:13] #371 closed

[2022-06-28 14:28] #378 closed

[2022-09-26 22:52] chapman-s opened #395 "FIA_MBE_EXT.1.1 is not scoped"
**What is the change request for the cPP/PP-module? Please describe.**

For FIA_MBE_EXT.1.1, the actual requirement is not scoped and, technically, could apply to any type of enrollment on the TOE. When the current SFR appears in the context of an MDF PP ST containing 130 SFRs including other enrollment types (e.g., MDM agent enrollment), it’s not immediately clear what FIA_MBE_EXT.1.1 applies to.

[2022-09-26 22:59] chapman-s opened #396 "FPT_PBT_EXT.1.1 is not scoped"
**What is the change request for the cPP/PP-module? Please describe.**

For FPT_PBT_EXT.1.1, the requirement is not scoped and, technically, could apply to all templates on the TOE, not just to the biometric template. In the context of a large ST, this SFR requirement sounds like it applies to all templates on a device. (Note that the title of an SFR is not a valid SFR scoping mechanism in CC.)

*

[2022-09-26 23:04] chapman-s commented on #395
This issue is against the published v1.1.

[2022-10-04 17:40] #395 closed

[2022-10-11 15:08] woodbe opened #398 "[PPC CHANGE] version reference is incorrect"
**What is the change request for the PP-Configuration? Please describe.**
[MOD_BIO_V1.0] is listed twice in the document. This should be [MOD_BIO_V1.1]

**Describe the solution you'd like**
replace 1.0 with 1.1

**Additional context**
This is not a high priority, but a typo that should be fixed at some point.

[2022-10-27 22:32] chapman-s opened #399 "SD section 2.4.2.4 lists the wrong SFR"
**What is the change request for the BIOSD? Please describe.**
SD section 2.4.2.4 item "a." should reference FPT_PBT_EXT.1 instead of FPT_BDP_EXT.1.

**Describe the solution you'd like**
a. TSS shall explain how the TOE meets FPT_PBT_EXT.1 at high level description

**Describe alternatives you've considered**
a. TSS shall explain how the TOE meets FPT_PBT_EXT.1 by providing a high level descriptio

[2022-11-22 01:44] woodbe commented on #399
Merged into Interpretation

[2022-11-22 01:44] #399 closed